@import 'partials/colorScheme';
@import 'partials/fonts';

#applications{
 @media (max-width: 550px) {
    margin-top: 30px;
  }
  color: $cream;
  font-family: ubuntu; 
  height: 100%;

  .row {
    width: 98%;
    margin-top: 50px;
    padding: 0px 15px;
    @media (min-width: 550px) {
      margin-top: 90px;
      overflow: hidden;
    }
  }

  ::-webkit-input-placeholder {
    color: $cream;
    opacity: 1;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 15px;
    padding-right: 1em;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $cream;
    opacity: 1;
    font-family: ubuntu;
    font-size: 15px;
    font-weight: lighter;
    padding-right: 1em;
  }

  ::-moz-placeholder {  /* Firefox 19 */
    color: $cream;
    opacity: 1;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 15px;
    padding-right: 1em;
  }

  :-ms-input-placeholder { 
    color: $cream;
    opacity: 1;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 15px;
    padding-right: 1em;
  }

  #popup-wrapper {
    position: fixed;
    background-color: rgba(3, 3, 22, 1);
    width: 100%;
    height: 100%;
    background: image-url("glitch.gif") no-repeat center 10px fixed;
    background-size: 100%; 
    z-index: 9;
    left: 0;
    right: 0;
    top: 60px;
    margin: auto;

    animation:popup-wrapper 1s 1;
    -webkit-animation:popup-wrapper 1s 1;
    animation-fill-mode: forwards;

    animation-delay:5s;
    -webkit-animation-delay:5s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;

  } 

  input[type=search], input[type=text]{
    text-align:left; 
    border: solid 1px $mutedOutline; 
    font-size: 15px; 
    font-weight: 100;
    color: $cream;
    background: none;
    padding: 8px 0px 8px 15px; 
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
  }

  input[type=search] {
    height: 60px;
    width: 400px;
    margin-bottom: 15px !important;
  }

  input[type=text] {
    height: 36px;
    width: 60px;
  }

  .multi-set {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    width: 350px;
    padding-bottom: 5px;

  }

  #multi-wrapper {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 100%;
  }

  #my-final-table {
    tr {
      background-color: transparent;
      min-width: 150px;
    }

    th {
      min-width: 150px;
    }

    td {
      padding-right: 0px;
      border: 1px solid $mutedOutline;
    }

    #number {
      max-width: 20px;
    }

    #university, #major {
      min-width: 400px;
    }

    #hackathons {
      min-width: 600px;
    }

    #whyAttend {
      min-width: 1000px;;
    }

    #created {
      min-width: 250px 
    }
  }

  .status-select, .status-multi {
    width:150px;
    height: 36px;
    overflow: visible;
  }

  .sorting {
    text-align: left;
    padding-left: 7px;
    border: 1px solid $mutedOutline;
    border-bottom: 3px solid $mutedOutline;

  }
  .sorting_1 {
    background-color: $mutedOutline;
  }

  #my-final-table_filter{
    label {
      color: $cream;
    }
  }

  .DTFC_Cloned {
    background-color: $mutedOutline;
    border-bottom: none;

    tr {
      background-color: rgb(37,72,77);
    }

    td {
      padding-right: 0px;
      border: 1px solid $mutedOutline;
    }

  }

  .selected {
    background-color: $mutedOutline !important;
  }

  .sorting_asc, .sorting_desc {
    text-align: left;
    border: 1px solid $mutedOutline;
    border-bottom: 3px solid $mutedOutline;
  }

  .dataTables_info {
    color: rgb(37,72,77);
  }

  a {
    color: $mutedText;
    
    &:hover {
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      opacity: .7;
    }
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 17px;
  right: 8px;
  width: 20px;
}

#admin-panel {
  font-family: MoonDance; 
  font-weight: 100;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-size: 140%;
  height: 60px;
  color: $cream;
  padding-left: 20px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}