@import 'partials/colorScheme';
@import 'partials/fonts';

#stats {
  margin-top: 4em;
  font-family: ubuntu;
  font-weight: 100;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  color: #80ffdb;

    .box {
    width: 125px;
    height: 75px;
    margin: 20px 7.5px 0px 7.5px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    border: solid 1px $mutedOutline;
    font-size: 24px;

  }

  .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
  }
  .svg-content-responsive {
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 0;
  }

  h2 {
    margin-bottom: 0;
  }

  #applications-graph svg {
    background-color: white;
  }

  .wordmap {
    @media (max-width: 1000px) {
      display: none;
    }
  }

  #applications-graph {
    @media (max-width: 1000px) {
      display: none;
    }
  }

  .wrap {
    max-width: 1200px;
  }

  .tablefooter {
    text-align: right;
    font-size: 75%;
  }

  .minorhighlight {
    background-color: $statsPink;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
  }
  
  p {
    width: 100%;
    margin: auto;
    min-width: 140px;
    font-size: 110%;
    margin-top: .5em;
    margin-bottom: 25px;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    color: #80ffdb;
  }


  svg {
    border: 1px dotted #999;
    padding: 1em;
    
    rect {
      fill: silver;
      
      &:hover {
        fill: $statsOrange;
      }
    }
  }

  #tooltip {
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 4px;
    padding: .25em;
    pointer-events: none;
    position: absolute;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
    
    & p {
      margin: 0 1em;
    }
  }

  .hidden {
    display: none;
  }


  .column {      
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    article {

      display: flex;
      flex-direction: column;
      z-index: 10;
      width: 48%;
      font-family: ubuntu;
      font-weight: 100;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased;
      @media (min-width: 550px) {
        margin: 3vh 0;
      }

      @media (max-width: 550px) {
        width: 100%;
        align-items: center;

        // Fix silly mobile width issue.
        width: 97%;
        margin: 0 1%;

        .a-hline {
          border-top: solid 1px $mutedCream;
          background: none;
          width: 30%;
        }

      } 

    }

    @media (max-width: 1000px) {
      width: 87%;
    }

    @media (max-width: 550px) {
      flex-direction: column;
      width: 100%
    }

  }


  #my-final-table {
    tr {
      background-color: transparent;
      min-width: 150px;
    }

    th {
      text-align: left;
      min-width: 150px;
    }

    td {
      padding-right: 0px;
      border: 1px solid $mutedOutline;
    }

    #number {
      max-width: 20px;
    }

    #university, #major {
      min-width: 400px;
    }

    #hackathons {
      min-width: 600px;
    }

    #whyAttend {
      min-width: 1000px;;
    }

    #created {
      min-width: 250px 
    }
  }



.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

  


}



.horizontal-bar-graph {
  display: table;
  width: 100%;
}

.horizontal-bar-graph-segment {
  display: table-row;
}

.horizontal-bar-graph-label {
  display: table-cell;
  border-right: 1px solid silver; 
  text-align: right;
  padding: 4px 10px 4px 0;
  vertical-align: middle;
  white-space: nowrap;
}

.horizontal-bar-graph-value {
  display: table-cell;
  padding: 3px 0;
  vertical-align: bottom;
  width: 100%;
}

.horizontal-bar-graph-value-bar {
  background: silver;
  // @include box-sizing(padding-box);
  padding: 4px 4px 3px;
  height: 1.2em;
  text-align: right;
  color: white;
  overflow: visible;
  display: inline-block;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.4);

  font-size: 22px;
}

.horizontal-bar-graph-segment:first-child {
  .horizontal-bar-graph-label { padding-top: 12px; }
  .horizontal-bar-graph-value { padding-top: 11px; }
}
.horizontal-bar-graph-segment:last-child {
  .horizontal-bar-graph-label { padding-bottom: 12px; }
  .horizontal-bar-graph-value { padding-bottom: 11px; }
}


// Word Cloud

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 450%; }
div.jqcloud span.w8 { font-size: 300%; }
div.jqcloud span.w7 { font-size: 250%; }
div.jqcloud span.w6 { font-size: 200%; }
div.jqcloud span.w5 { font-size: 175%; }
div.jqcloud span.w4 { font-size: 150%; }
div.jqcloud span.w3 { font-size: 125%; }
div.jqcloud span.w2 { font-size: 100%; }
div.jqcloud span.w1 { font-size: 90%; }





