@import 'partials/colorScheme';
@import 'partials/fonts';

#contact {

  border-bottom: solid 1px $mutedOutline;
  border-radius: 0;

  .wrap {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    color: $cream;
  }

  ::-webkit-input-placeholder {
    color: $cream;
    opacity: 1;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 14px;
    padding-right: 1em;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $cream;
    opacity: 1;
    font-family: ubuntu;
    font-size: 14px;
    font-weight: lighter;
    padding-right: 1em;
  }

  ::-moz-placeholder {  /* Firefox 19 */
    color: $cream;
    opacity: 1;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 14px;
    padding-right: 1em;
  }

  :-ms-input-placeholder { 
    color: $cream;
    opacity: 1;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 14px;
    padding-right: 1em;
  }

  input[type=email] {
    width: 86%;
    display: inline-block;
    border: solid 1px $mutedOutline;
    margin-top: 25px;
    margin-bottom: 0px;
    text-align:left; 
    font-size: 14px; 
    font-weight: lighter;
    color: $cream;
    background: none;
    padding: 8px 0px 8px 25px; 
    height: 36px;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 560px) {
      width: 530px;
    }
  }

  input[type=text] {
    text-align:left; 
    border: solid $mutedOutline;
    font-size: 14px; 
    font-weight: 100;
    color: $cream;
    background: none;
    padding: 8px 0px 8px 25px; 
    width: 40%;
    height: 36px;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 560px) {
      width: 240px;
    }
  }

  input:focus, textarea:focus {
    border-color: rgba(128, 295, 219, 0.8) !important;
    box-shadow: 0 1px 1px rgba(128, 295, 219, 0.075) inset, 0 0 8px rgba(128, 295, 219, 0.6) !important;
    outline: 0 none !important;
  }  

  #mail {

    width: 86%;
    color: $cream;
    text-align: center;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    margin-bottom: 0px;
    @media (max-width: 340px) {
      font-size: 14px;
    }
    @media (min-width: 341px) and (max-width: 560px) {
      font-size: 18px;
    }
  }

  .inner {
    width: 92%;
    margin-top: 25px;
    @media (min-width: 560px) {
      width: 557px;
    }
  }

  #fname {
    float: left;
    border-width: 1px;
  }

  #lname {
    float: right;
    border-width: 1px;
  }

  .email-us {
    width: 86%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    margin-top: 25px;
    @media (min-width: 560px) {
      width: 530px;
    }
  }

  .email-type {
    text-align: left;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    @media (max-width: 340px) {
      font-size: 14px;
    }
    @media (min-width: 341px) and (max-width: 560px) {
      font-size: 18px;
    }
  }  

  .email {
    padding-left: 25px;
    color: $mutedText;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    @media (max-width: 340px) {
      font-size: 14px;
    }
    @media (min-width: 341px) and (max-width: 560px) {
      font-size: 18px;
    }

  }

  .email:hover {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: .7;
  }

  .top {
    margin-top: 0px;
  }

  .tail {
    padding-bottom: 50px;
    @media (max-width: 560px) {
      padding-bottom: 25px;
    }
  }

  #error-wrapper {
    width: 90%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    font-family: ubuntu;
    font-weight: 100;
    max-height: 30px;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 550px){
      width: 530px;
    }
  }

  .error {
    margin-top: 15px;
  }




  .no-label {
    display: none;
  }

  input[type=submit] {
    background: none;
    border-style: none;
    text-align: center;
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    display: block; 
    border: none;
    color: $cream;
    width: 100%;
    font-weight: 100;
    font-size: 15px;
    height: 60px;
    cursor: pointer; 
    cursor: hand;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 560px) {
      width: 557px;
    }

  }

  #submit-wrap {
    margin-bottom: 100px;
    border: solid 1px $mutedOutline;
    border-radius: 0;
    @media (min-width: 560px) {
      width: 557px;
    }

  }

}