@import 'partials/colorScheme';
@import 'partials/fonts';

#faq {
  padding: .1em;

  background-color: transparent;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  text-align: center;
  color: $faqText;
  position: relative;
  border-bottom: 1px solid $mutedOutline;
  padding-bottom: 100px;

  #faq-box {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    width: 960px;
    height: 463px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid $mutedOutline;
    @media (max-width: 959px){
      width: 87%;
      flex-direction: column;
      -webkit-flex-direction: column;
    }

    #questions-wrap {
        @media (max-width: 959px){
          width: 100%;
        }


      #questions {
        width: 320px;
        height: 423px;
        border-right: 1px solid $mutedOutline;
        overflow-y: auto;
        @media (max-width: 959px){
          width: 100%;
          height: 203px;
          border: none;
        }

        article {
          display: flex;
          display: -webkit-flex;
          flex-direction: column;
          -webkit-flex-direction: column;
          align-items: center;
          -webkit-align-items: center;
          z-index: 10;
          font-family: ubuntu;
          font-weight: 100;
          -webkit-appearance: none;
          -webkit-font-smoothing: antialiased;

        }

        .a-hline {
          border-top: solid 1px $mutedOutline;
          margin: 0px 0px 0px 15%;
          background: none;
          width: 70%;
        }

        .hide {
          opacity: 0;
        }

        .active-q {
          background-color: $mutedOutline;
        }

        h3 {
          font-size: 100%;
          font-family: ubuntu;
          font-weight: 100;
          -webkit-appearance: none;
          -webkit-font-smoothing: antialiased;

        }

      }

      .arrow-wrap {
        height: 20px;
        border-right: 1px solid $mutedOutline;
        @media (max-width: 959px){
          width: 100%;
          border-right: none;
          border-bottom: 1px solid $mutedOutline;
        }

        .fa-angle-down, .fa-angle-up {
          color: $cream;
          font-size: 20px;
        }

      }
    }



    #answers {
      width: 640px;
      height: 100%;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;
      @media (max-width: 959px){
        width: 100%;
        height: 223px;
      }

      p {
        font-size: 100%;
        font-family: ubuntu;
        font-weight: 100;
        -webkit-appearance: none;
        -webkit-font-smoothing: antialiased;
        margin: 0px;
        z-index: 10;
        line-height: 220%;
        width: 80%;
        @media (max-width: 959px){
          line-height: 170%;
        }

        @media (min-width: 550px) {
          display: block;
          padding: 0;
        }
      }
    }
  }

  a {
    text-decoration: underline;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    color: $mutedText;
    -webkit-font-smoothing: antialiased;

    &:visited {
      color: $mutedText;
    }

    &:hover {
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      opacity: .7;
    }
  }

  .hline {
    border-top: solid 1px $mutedOutline;
    background: none;
    width: 40%;
  }



  .hline-full {
    border-top: solid 1px $mutedOutline;
    background: none;
    position: absolute;
    left:0;
    width: 100%;
  }

  .faq-top {
    margin-bottom: 0px;
    @media (max-width: 550px) {
      margin-bottom: 25px;
    }
  }

  #last-year {
    width: 500px;
    margin-top: 3vh;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;

    a {
      font-size: 120%;
    }

    @media (max-width: 550px) {
      width: 200px;
      flex-direction: column;
      -webkit-flex-direction: column;

      a {
        padding: 5px 0px;
      }
    }
  }
}
