<select id="major" name="major" multiple="multiple">
  <option></option>
  <option value="Accounting and Finance">Accounting and Finance</option>
  <option value="Agriculture and Natural Resources">Agriculture and Natural Resources</option>
  <option value="Applied Engineering Sciences">Applied Engineering Sciences</option>
  <option value="Arts, Expression, and Humanities">Arts, Expression, and Humanities</option>
  <option value="Astronomy">Astronomy</option>
  <option value="Biosystems Engineering">Biosystems Engineering</option>
  <option value="Chemical Engineering">Chemical Engineering</option>
  <option value="Chemistry and Biochemistry">Chemistry and Biochemistry</option>
  <option value="Civil Engineering">Civil Engineering</option>
  <option value="Communication">Communication</option>
  <option value="Computer Engineering">Computer Engineering</option>
  <option value="Computer Science">Computer Science</option>
  <option value="Criminal Justice">Criminal Justice</option>
  <option value="Culture and Language Studies">Culture and Language Studies</option>
  <option value="Economics">Economics</option>
  <option value="Education">Education</option>
  <option value="Electrical Engineering">Electrical Engineering</option>
  <option value="Environmental Engineering">Environmental Engineering</option>
  <option value="Environmental Studies">Environmental Studies</option>
  <option value="Geography and Anthropology">Geography and Anthropology</option>
  <option value="Graphic and Game Design">Graphic and Game Design</option>
  <option value="History">History</option>
  <option value="Hospitality">Hospitality</option>
  <option value="Human Biology, Physiology, and Medicine">Human Biology, Physiology, and Medicine</option>
  <option value="Human Resources and Management">Human Resources and Management</option>
  <option value="Marketing and Advertising">Marketing and Advertising</option>
  <option value="Materials Science and Engineering">Materials Science and Engineering</option>
  <option value="Mathematics, Statistics, and Physics">Mathematics, Statistics, and Physics</option>
  <option value="Mechanical Engineering">Mechanical Engineering</option>
  <option value="Media and Information">Media and Information</option>
  <option value="Packaging">Packaging</option>
  <option value="Planning, Architecture, and Construction">Planning, Architecture, and Construction</option>
  <option value="Political Science">Political Science</option>
  <option value="Psychology, Sociology, and Social Work">Psychology, Sociology, and Social Work</option>
  <option value="Public Health">Public Health</option>
  <option value="Supply Chain">Supply Chain</option>
  <option value="Zoology and Veterinary Medicine">Zoology and Veterinary Medicine</option>
</select>