<select id="major" name="major" multiple="multiple">
  <option></option>
	<option value="Accounting" >Accounting</option>
	<option value="Actuarial Science" >Actuarial Science</option>
	<option value="Advertising" >Advertising</option>
	<option value="African American and African Studies" >African American and African Studies</option>
	<option value="Agribusiness Management" >Agribusiness Management</option>
	<option value="Agricultural, Food and Resource Economics" >Agricultural, Food and Resource Economics</option>
	<option value="Agriculture and Natural Resources" >Agriculture and Natural Resources</option>
	<option value="Agriculture, Food and Natural Resources Education" >Agriculture, Food and Natural Resources Education</option>
	<option value="Animal Science" >Animal Science</option>
	<option value="Anthropology" >Anthropology</option>
	<option value="Apparel and Textiles" >Apparel and Textiles</option>
	<option value="Applied Behavior Analysis in Special Education" >Applied Behavior Analysis in Special Education</option>
	<option value="Applied Engineering Sciences" >Applied Engineering Sciences</option>
	<option value="Applied Mathematics" >Applied Mathematics</option>
	<option value="Applied Parasitology and Public Health" >Applied Parasitology and Public Health</option>
	<option value="Applied Spanish Linguistics" >Applied Spanish Linguistics</option>
	<option value="Applied Statistics" >Applied Statistics</option>
	<option value="Arabic" >Arabic</option>
	<option value="Art Education" >Art Education</option>
	<option value="Art History and Visual Culture" >Art History and Visual Culture</option>
	<option value="Arts &amp; Letters" >Arts &amp; Letters</option>
	<option value="Arts and Cultural Management" >Arts and Cultural Management</option>
	<option value="Arts and Humanities" >Arts and Humanities</option>
	<option value="Astrophysics" >Astrophysics</option>
	<option value="Astrophysics and Astronomy" >Astrophysics and Astronomy</option>
	<option value="Athletic Training" >Athletic Training</option>
	<option value="Biochemistry and Molecular Biology" >Biochemistry and Molecular Biology</option>
	<option value="Biochemistry and Molecular Biology/Biotechnology" >Biochemistry and Molecular Biology/Biotechnology</option>
	<option value="Biochemistry and Molecular Biology/Environmental Toxicology" >Biochemistry and Molecular Biology/Environmental Toxicology</option>
	<option value="Biological Science Interdepartmental" >Biological Science Interdepartmental</option>
	<option value="Biomedical Laboratory Operations" >Biomedical Laboratory Operations</option>
	<option value="Biomedical Laboratory Science" >Biomedical Laboratory Science</option>
	<option value="Biostatistics" >Biostatistics</option>
	<option value="Biosystems Engineering" >Biosystems Engineering</option>
	<option value="Business Analytics" >Business Analytics</option>
	<option value="Business Information Systems" >Business Information Systems</option>
	<option value="Business Research" >Business Research</option>
	<option value="Cell and Molecular Biology" >Cell and Molecular Biology</option>
	<option value="Chemical Engineering" >Chemical Engineering</option>
	<option value="Chemical Physics" >Chemical Physics</option>
	<option value="Chemistry" >Chemistry</option>
	<option value="Chicano/Latino Studies" >Chicano/Latino Studies</option>
	<option value="Child Development" >Child Development</option>
	<option value="Chinese" >Chinese</option>
	<option value="Civil Engineering" >Civil Engineering</option>
	<option value="Clinical Laboratory Sciences " >Clinical Laboratory Sciences </option>
	<option value="Clinical Social Work" >Clinical Social Work</option>
	<option value="Collaborative Piano" >Collaborative Piano</option>
	<option value="Communication" >Communication</option>
	<option value="Communicative Sciences and Disorders" >Communicative Sciences and Disorders</option>
	<option value="Community Sustainability" >Community Sustainability</option>
	<option value="Comparative Cultures and Politics" >Comparative Cultures and Politics</option>
	<option value="Comparative Medicine and Integrative Biology" >Comparative Medicine and Integrative Biology</option>
	<option value="Composition" >Composition</option>
	<option value="Computational Mathematics" >Computational Mathematics</option>
	<option value="Computer Engineering" >Computer Engineering</option>
	<option value="Computer Science" >Computer Science</option>
	<option value="Conservation Law" >Conservation Law</option>
	<option value="Construction Management" >Construction Management</option>
	<option value="Counterfeit Pharmaceuticals" >Counterfeit Pharmaceuticals</option>
	<option value="Criminal Justice" >Criminal Justice</option>
	<option value="Critical Studies in Literacy and Pedagogy" >Critical Studies in Literacy and Pedagogy</option>
	<option value="Crop and Soil Sciences" >Crop and Soil Sciences</option>
	<option value="Curriculum, Instruction and Teacher Education" >Curriculum, Instruction and Teacher Education</option>
	<option value="Dietetics" >Dietetics</option>
	<option value="Digital Humanities" >Digital Humanities</option>
	<option value="Digital Rhetoric and Professional Writing" >Digital Rhetoric and Professional Writing</option>
	<option value="Early Care and Education" >Early Care and Education</option>
	<option value="Earth Science Interdepartmental" >Earth Science Interdepartmental</option>
	<option value="Economics" >Economics</option>
	<option value="Education (Elementary)" >Education (Elementary)</option>
	<option value="Educational Leadership" >Educational Leadership</option>
	<option value="Educational Policy" >Educational Policy</option>
	<option value="Educational Psychology and Educational Technology" >Educational Psychology and Educational Technology</option>
	<option value="Educational Technology" >Educational Technology</option>
	<option value="Electrical Engineering" >Electrical Engineering</option>
	<option value="Engineering Mechanics" >Engineering Mechanics</option>
	<option value="English" >English</option>
	<option value="English Language Learner Education" >English Language Learner Education</option>
	<option value="Entomology" >Entomology</option>
	<option value="Environmental &amp; Social System Modeling" >Environmental &amp; Social System Modeling</option>
	<option value="Environmental Biology/Microbiology" >Environmental Biology/Microbiology</option>
	<option value="Environmental Biology/Plant Biol" >Environmental Biology/Plant Biol</option>
	<option value="Environmental Biology/Zoology" >Environmental Biology/Zoology</option>
	<option value="Environmental Design" >Environmental Design</option>
	<option value="Environmental Economics and Management" >Environmental Economics and Management</option>
	<option value="Environmental Engineering" >Environmental Engineering</option>
	<option value="Environmental Geography" >Environmental Geography</option>
	<option value="Environmental Geosciences" >Environmental Geosciences</option>
	<option value="Environmental Studies and Sustainability" >Environmental Studies and Sustainability</option>
	<option value="Epidemiology" >Epidemiology</option>
	<option value="Experience Architecture" >Experience Architecture</option>
	<option value="Family Community Services" >Family Community Services</option>
	<option value="Film Studies" >Film Studies</option>
	<option value="Finance" >Finance</option>
	<option value="Fisheries and Wildlife" >Fisheries and Wildlife</option>
	<option value="Food Industry Management" >Food Industry Management</option>
	<option value="Food Safety" >Food Safety</option>
	<option value="Food Science" >Food Science</option>
	<option value="Foodservice Business Management" >Foodservice Business Management</option>
	<option value="Foreign Language Teaching" >Foreign Language Teaching</option>
	<option value="Forensic Science" >Forensic Science</option>
	<option value="Forest Carbon Science, Policy and Management" >Forest Carbon Science, Policy and Management</option>
	<option value="Forestry" >Forestry</option>
	<option value="French" >French</option>
	<option value="Genetics" >Genetics</option>
	<option value="Geographic Information Science" >Geographic Information Science</option>
	<option value="Geography" >Geography</option>
	<option value="Geological Sciences" >Geological Sciences</option>
	<option value="German" >German</option>
	<option value="Global &amp; Area Studies" >Global &amp; Area Studies</option>
	<option value="Global Studies in the Arts and Humanities" >Global Studies in the Arts and Humanities</option>
	<option value="Health and Risk Communication" >Health and Risk Communication</option>
	<option value="Higher, Adult, and Lifelong Education" >Higher, Adult, and Lifelong Education</option>
	<option value="Hispanic Cultural Studies" >Hispanic Cultural Studies</option>
	<option value="Hispanic Literatures" >Hispanic Literatures</option>
	<option value="History" >History</option>
	<option value="History Education" >History Education</option>
	<option value="Horticulture" >Horticulture</option>
	<option value="Hospitality Business" >Hospitality Business</option>
	<option value="Human Biology" >Human Biology</option>
	<option value="Human Development and Family Studies" >Human Development and Family Studies</option>
	<option value="Human Geography" >Human Geography</option>
	<option value="Human Nutrition" >Human Nutrition</option>
	<option value="Human Resource Management" >Human Resource Management</option>
	<option value="Human Resources and Labor Relations" >Human Resources and Labor Relations</option>
	<option value="Humanities-Prelaw" >Humanities-Prelaw</option>
	<option value="Industrial Mathematics" >Industrial Mathematics</option>
	<option value="Integrative Pharmacology" >Integrative Pharmacology</option>
	<option value="Interdisciplinary Humanities" >Interdisciplinary Humanities</option>
	<option value="Interdisciplinary Studies in Social Science" >Interdisciplinary Studies in Social Science</option>
	<option value="Interior Design" >Interior Design</option>
	<option value="International Planning Studies" >International Planning Studies</option>
	<option value="International Public Health" >International Public Health</option>
	<option value="International Relations" >International Relations</option>
	<option value="James Madison College" >James Madison College</option>
	<option value="Japanese" >Japanese</option>
	<option value="Jazz Studies" >Jazz Studies</option>
	<option value="Journalism" >Journalism</option>
	<option value="Judicial Administration" >Judicial Administration</option>
	<option value="K-12 Educational Administration" >K-12 Educational Administration</option>
	<option value="Kinesiology" >Kinesiology</option>
	<option value="Laboratory Research in Pharmacology and Toxicology" >Laboratory Research in Pharmacology and Toxicology</option>
	<option value="Landscape Architecture" >Landscape Architecture</option>
	<option value="Large Animal Clinical Sciences" >Large Animal Clinical Sciences</option>
	<option value="Law Enforcement Intelligence and Analysis" >Law Enforcement Intelligence and Analysis</option>
	<option value="Linguistics" >Linguistics</option>
	<option value="Literature in English" >Literature in English</option>
	<option value="Logistics" >Logistics</option>
	<option value="Management" >Management</option>
	<option value="Marketing" >Marketing</option>
	<option value="Marketing Research" >Marketing Research</option>
	<option value="Materials Science and Engineering" >Materials Science and Engineering</option>
	<option value="Mathematics" >Mathematics</option>
	<option value="Mathematics Education" >Mathematics Education</option>
	<option value="Mathematics, Advanced" >Mathematics, Advanced</option>
	<option value="Measurement and Quantitative Methods" >Measurement and Quantitative Methods</option>
	<option value="Mechanical Engineering" >Mechanical Engineering</option>
	<option value="Media and Information" >Media and Information</option>
	<option value="Microbiology" >Microbiology</option>
	<option value="Microbiology &amp; Molecular Genetics" >Microbiology &amp; Molecular Genetics</option>
	<option value="Microbiology-Environmental Toxicology" >Microbiology-Environmental Toxicology</option>
	<option value="Museum Studies" >Museum Studies</option>
	<option value="Music" >Music</option>
	<option value="Music Composition" >Music Composition</option>
	<option value="Music Conducting" >Music Conducting</option>
	<option value="Music Education" >Music Education</option>
	<option value="Music Performance" >Music Performance</option>
	<option value="Music Theory" >Music Theory</option>
	<option value="Musicology" >Musicology</option>
	<option value="Neuroscience" >Neuroscience</option>
	<option value="No Preference" >No Preference</option>
	<option value="Nursing" >Nursing</option>
	<option value="Nursing Practice" >Nursing Practice</option>
	<option value="Nutritional Sciences" >Nutritional Sciences</option>
	<option value="Online Teaching and Learning" >Online Teaching and Learning</option>
	<option value="Operations and Sourcing Management" >Operations and Sourcing Management</option>
	<option value="Organization &amp; Community Leadership" >Organization &amp; Community Leadership</option>
	<option value="Organizational Behavior-Human Resource Management" >Organizational Behavior-Human Resource Management</option>
	<option value="Packaging" >Packaging</option>
	<option value="Pathobiology" >Pathobiology</option>
	<option value="Pathobiology-Environmental Toxicology" >Pathobiology-Environmental Toxicology</option>
	<option value="Pharmacology and Toxicology" >Pharmacology and Toxicology</option>
	<option value="Pharmacology and Toxicology-Environmental Toxicology" >Pharmacology and Toxicology-Environmental Toxicology</option>
	<option value="Philosophy" >Philosophy</option>
	<option value="Physical Science Interdepartmental" >Physical Science Interdepartmental</option>
	<option value="Physics" >Physics</option>
	<option value="Physiology" >Physiology</option>
	<option value="Piano Pedagogy" >Piano Pedagogy</option>
	<option value="Planning, Design &amp; Construction" >Planning, Design &amp; Construction</option>
	<option value="Plant Biology" >Plant Biology</option>
	<option value="Plant Breeding, Genetics and Biotechnology" >Plant Breeding, Genetics and Biotechnology</option>
	<option value="Plant Pathology" >Plant Pathology</option>
	<option value="Political Science" >Political Science</option>
	<option value="Political Science-Prelaw" >Political Science-Prelaw</option>
	<option value="Political Theory and Constitutional Democracy" >Political Theory and Constitutional Democracy</option>
	<option value="Predental" >Predental</option>
	<option value="Premedical" >Premedical</option>
	<option value="Prenursing" >Prenursing</option>
	<option value="Preoptometry" >Preoptometry</option>
	<option value="Preveterinary" >Preveterinary</option>
	<option value="Professional Applications in Anthropology" >Professional Applications in Anthropology</option>
	<option value="Professional Writing" >Professional Writing</option>
	<option value="Program Evaluation" >Program Evaluation</option>
	<option value="Psychology" >Psychology</option>
	<option value="Public Health" >Public Health</option>
	<option value="Public Health Administration " >Public Health Administration </option>
	<option value="Public Health Informatics " >Public Health Informatics </option>
	<option value="Public Policy" >Public Policy</option>
	<option value="Public Relations" >Public Relations</option>
	<option value="Qualitative Research Methods" >Qualitative Research Methods</option>
	<option value="Rehabilitation Counseling" >Rehabilitation Counseling</option>
	<option value="Rehabilitation Counselor Education" >Rehabilitation Counselor Education</option>
	<option value="Religious Studies" >Religious Studies</option>
	<option value="Rhetoric and Writing" >Rhetoric and Writing</option>
	<option value="Russian" >Russian</option>
	<option value="Safety Pharmacology" >Safety Pharmacology</option>
	<option value="School Psychology" >School Psychology</option>
	<option value="Science Education" >Science Education</option>
	<option value="Second Language Studies" >Second Language Studies</option>
	<option value="Serious Game Design &amp; Research" >Serious Game Design &amp; Research</option>
	<option value="Small Animal Clinical Sciences" >Small Animal Clinical Sciences</option>
	<option value="Social Relations and Policy" >Social Relations and Policy</option>
	<option value="Social Work" >Social Work</option>
	<option value="Sociology" >Sociology</option>
	<option value="Spanish" >Spanish</option>
	<option value="Spatial Ecology" >Spatial Ecology</option>
	<option value="Special Education" >Special Education</option>
	<option value="Special Education-Learning Disabilities" >Special Education-Learning Disabilities</option>
	<option value="Sport Coaching and Leadership" >Sport Coaching and Leadership</option>
	<option value="Statistics" >Statistics</option>
	<option value="Strategic Management" >Strategic Management</option>
	<option value="Student Affairs Administration" >Student Affairs Administration</option>
	<option value="Studio Art" >Studio Art</option>
	<option value="Supply Chain Management" >Supply Chain Management</option>
	<option value="Sustainable Parks, Recreation and Tourism" >Sustainable Parks, Recreation and Tourism</option>
	<option value="Sustainable Tourism and Protected Area Management" >Sustainable Tourism and Protected Area Management</option>
	<option value="Teaching and Curriculum" >Teaching and Curriculum</option>
	<option value="Teaching and Learning in Postsecondary Education" >Teaching and Learning in Postsecondary Education</option>
	<option value="Teaching English to Speakers of Other Languages" >Teaching English to Speakers of Other Languages</option>
	<option value="Theatre" >Theatre</option>
	<option value="Urban and Regional Planning" >Urban and Regional Planning</option>
	<option value="Urban Education" >Urban Education</option>
	<option value="Veterinary Technology" >Veterinary Technology</option>
	<option value="Women's and Gender Studies" >Women's and Gender Studies</option>
	<option value="World Politics" >World Politics</option>
	<option value="Youth Development" >Youth Development</option>
	<option value="Youth Program Management and Evaluation" >Youth Program Management and Evaluation</option>
	<option value="Zoology" >Zoology</option>
	<option value="Zoology-Environmental Toxicology" >Zoology-Environmental Toxicology</option>
</select>