<select id="hackathons" name="hackathons">
  <optgroup label="Fall 2009">
    <option value="PennApps I F09">PennApps I</option>
  </optgroup>

  <optgroup label="Fall 2010">
    <option value="PennApps II F10">PennApps II</option>
  </optgroup>

  <optgroup label="Spring 2011">
    <option value="PennApps III S11">PennApps III</option>
  </optgroup>

  <optgroup label="Fall 2011">
    <option value="PennApps VI F11">PennApps VI</option>
  </optgroup>

  <optgroup label="Spring 2012">
    <option value="PennApps V S12">PennApps V</option>
  </optgroup>

  <optgroup label="Fall 2012">
    <option value="PennApps VI F12">PennApps VI</option>
  </optgroup>

  <optgroup label="Spring 2013">
    <option value="MHacks I S13">MHacks I</option>
    <option value="PennApps VII S13">PennApps VII</option>
  </optgroup>


  <optgroup label="Fall 2013">
    <option value="MHacks II F13">MHacks II</option>
    <option value="PennApps VIII F13">PennApps VIII</option>
  </optgroup>

  <optgroup label="Spring 2014"> 
    <option value="Bitcamp S14">Bitcamp</option>
    <option value="BoilerMake S14">BoilerMake</option>
    <option value="Citrus Hack S14">Citrus Hack</option>
    <option value="Emory Hackathon S14">Emory Hackathon</option>
    <option value="Hack Beanpot S14">Hack Beanpot</option>
    <option value="Hack Cooper S14">Hack Cooper</option>
    <option value="Hack.Rice S14">Hack.Rice</option>
    <option value="Hack@Brown S14">Hack@Brown</option>
    <option value="HackBU S14">HackBU</option>
    <option value="HackDuke S14">HackDuke</option>
    <option value="HackFSU S14">HackFSU</option>
    <option value="HackIllinois S14">HackIllinois</option>
    <option value="HackNC S14">HackNC</option>
    <option value="HackNY S14">HackNY</option>
    <option value="HackPR S14">HackPR</option>
    <option value="HackPSU S14">HackPSU</option>
    <option value="HackPoly S14">HackPoly</option>
    <option value="HackPrinceton S14">HackPrinceton</option>
    <option value="HackRU S14">HackRU</option>
    <option value="HackSC S14">HackSC</option>
    <option value="HackTCNJ S14">HackTCNJ</option>
    <option value="HackTech S14">HackTech</option>
    <option value="HackUCI S14">HackUCI</option>
    <option value="HackUMass S14">HackUMass</option>
    <option value="HackUVA S14">HackUVA</option>
    <option value="HackUWin S14">HackUWin</option>
    <option value="Hacker Bowl S14">Hacker Bowl</option>
    <option value="HopHacks S14">HopHacks</option>
    <option value="LA Hacks S14">LA Hacks</option>
    <option value="MHacks III S14">MHacks III</option>
    <option value="MakeMIT S14">MakeMIT</option>
    <option value="McHacks S14">McHacks</option>
    <option value="Pearl Hacks S14">Pearl Hacks</option>
    <option value="PennApps IX S14">PennApps IX</option>
    <option value="Revolution UC S14">Revolution UC</option>
    <option value="TartanHacks S14">TartanHacks</option>
    <option value="TribeHacks S14">TribeHacks</option>
    <option value="VTHacks S14">VTHacks</option>
  </optgroup> 

  <optgroup label="Fall 2014">
    <option value="AppHacks F14">AppHacks</option>
    <option value="Bay BitHack F14">Bay BitHack</option>
    <option value="BigRed//Hacks F14">BigRed//Hacks</option>
    <option value="BoilerMake F14">BoilerMake</option>
    <option value="Cal Hacks F14">Cal Hacks</option>
    <option value="Design and Hack F14">Design and Hack</option>
    <option value="DubHacks F14">DubHacks</option>
    <option value="GeauxHack F14">GeauxHack</option>
    <option value="Hack GT F14">Hack GT</option>
    <option value="Hack Mizzou F14">Hack Mizzou</option>
    <option value="Hack the North F14">Hack the North</option>
    <option value="HackCC F14">HackCC</option>
    <option value="HackDuke F14">HackDuke</option>
    <option value="HackHolyoke F14">HackHolyoke</option>
    <option value="HackISU F14">HackISU</option>
    <option value="HackMIT F14">HackMIT</option>
    <option value="HackNC F14">HackNC</option>
    <option value="HackNY F14">HackNY</option>
    <option value="HackNJIT F14">HackNJIT</option>
    <option value="HackPR F14">HackPR</option>
    <option value="HackPrinceton F14">HackPrinceton</option>
    <option value="HackRPI F14">HackRPI</option>
    <option value="HackRU F14">HackRU</option>
    <option value="HackSC F14">HackSC</option>
    <option value="HackTX F14">HackTX</option>
    <option value="HackUMBC F14">HackUMBC</option>
    <option value="HopHacks F14">HopHacks</option>
    <option value="Kent Hack Enough F14">Kent Hack Enough</option>
    <option value="LocalHackDay F14">LocalHackDay</option>
    <option value="MHacks IV F14">MHacks IV</option>
    <option value="PennApps X F14">PennApps X</option>
    <option value="RanHacks F14">RanHacks</option>
    <option value="RevolutionUC F14">RevolutionUC</option>
    <option value="TAMUHack F14">TAMUHack</option>
    <option value="Unhackathon F14">Unhackathon</option>
    <option value="Wildhacks F14">Wildhacks</option>
  </optgroup>

  <optgroup label="Spring 2015">
    <option value="#FixIt S15">#FixIt</option>
    <option value="AppHacks  S15">AppHacks</option>
    <option value="Bitcamp S15">Bitcamp</option>
    <option value="BrickHack S15">BrickHack</option>
    <option value="CBBhacks S15">CBBhacks</option>
    <option value="CarlHacks S15">CarlHacks</option>
    <option value="CodeRED S15">CodeRED</option>
    <option value="DeltaHacks S15">DeltaHacks</option>
    <option value="Dragon Hacks S15">Dragon Hacks</option>
    <option value="Fashon/Tech Hackathon S15">Fashon/Tech Hackathon</option>
    <option value="Hack Arizona S15">Hack Arizona</option>
    <option value="Hack Western S15">Hack Western</option>
    <option value="Hack.Rice S15">Hack.Rice</option>
    <option value="Hack.UVA S15">Hack.UVA</option>
    <option value="Hack@Brown S15">Hack@Brown</option>
    <option value="Hack@Smith S15">Hack@Smith</option>
    <option value="HackBU S15">HackBU</option>
    <option value="HackBajio S15">HackBajio</option>
    <option value="HackCooper S15">HackCooper</option>
    <option value="HackCU S15">HackCU</option>
    <option value="HackCUU S15">HackCUU</option>
    <option value="HackCWRU S15">HackCWRU</option>
    <option value="HackDFW S15">HackDFW</option>
    <option value="HackDartmouth S15">HackDartmouth</option>
    <option value="HackFSU S15">HackFSU</option>
    <option value="HackHolyoke S15">HackHolyoke</option>
    <option value="HackISU S15">HackISU</option>
    <option value="HackIllinois S15">HackIllinois</option>
    <option value="HackMTY S15">HackMTY</option>
    <option value="HackNY S15">HackNY</option>
    <option value="HackPSU S15">HackPSU</option>
    <option value="HackPoly S15">HackPoly</option>
    <option value="HackPrinceton S15">HackPrinceton</option>
    <option value="HackRU S15">HackRU</option>
    <option value="HackTCNJ S15">HackTCNJ</option>
    <option value="HackUMass S15">HackUMass</option>
    <option value="HackYSU S15">HackYSU</option>
    <option value="Hackhers S15">Hackhers</option>
    <option value="Hack the Planet S15">Hack the Planet</option>
    <option value="HopHacks S15">HopHacks</option>
    <option value="ID Hack S15">ID Hack</option>
    <option value="MHacks V S15">MHacks V</option>
    <option value="MXHacks S15">MXHacks</option>
    <option value="MadHacks S15">MadHacks</option>
    <option value="MakeCU S15">MakeCU</option>
    <option value="McHacks S15">McHacks</option>
    <option value="Medstart S15">Medstart</option>
    <option value="PearlHacks S15">PearlHacks</option>
    <option value="PennApps XI S15">PennApps XI</option>
    <option value="Project 34 S15">Project 34</option>
    <option value="RedbirdHacks S15">RedbirdHacks</option>
    <option value="RevolutionUC S15">RevolutionUC</option>
    <option value="SBHacks S15">SBHacks</option>
    <option value="SpartaHack S15">SpartaHack</option>
    <option value="SteelHacks S15">SteelHacks</option>
    <option value="TreeHacks S15">TreeHacks</option>
    <option value="UHack S15">UHack</option>
    <option value="UofTHacks S15">UofTHacks</option>
    <option value="VTHacks S15">VTHacks</option>
    <option value="VandyHacks S15">VandyHacks</option>
  </optgroup>

  <optgroup label="Fall 2015">
    <option value="#include<a-thon> F15">#include a-thon</option>
    <option value="BigRed//Hacks F15">BigRed//Hacks</option>
    <option value="BoilerMake F15">BoilerMake</option>
    <option value="BostonHacks F15">BostonHacks</option>
    <option value="Cal Hacks F15">Cal Hacks</option>
    <option value="ChangeMaker F15">ChangeMaker</option>
    <option value="Citrus Hack F15">Citrus Hack</option>
    <option value="CodeRED F15">CodeRED</option>
    <option value="Codestellation F15">Codestellation</option>
    <option value="DubHacks F15">DubHacks</option>
    <option value="HackBajio:Gamification F15">HackBajio:Gamification</option>
    <option value="HackCUU F15">HackCUU</option>
    <option value="HackColima F15">HackColima</option>
    <option value="HackDartmouth F15">HackDartmouth</option>
    <option value="HackDuke F15">HackDuke</option>
    <option value="HackGT F15">HackGT</option>
    <option value="HackHarvard F15">HackHarvard</option>
    <option value="HackHolyoke F15">HackHolyoke</option>
    <option value="HackISU F15">HackISU</option>
    <option value="HackNC F15">HackNC</option>
    <option value="HackNY F15">HackNY</option>
    <option value="HackNJIT F15">HackNJIT</option>
    <option value="HackPR F15">HackPR</option>
    <option value="HackPrinceton F15">HackPrinceton</option>
    <option value="HackRPI F15">HackRPI</option>
    <option value="HackRU F15">HackRU</option>
    <option value="HackTX F15">HackTX</option>
    <option value="HackTheNorth F15">HackTheNorth</option>
    <option value="HackUMass F15">HackUMass</option>
    <option value="HackUstate F15">HackUstate</option>
    <option value="HackWestern F15">HackWestern</option>
    <option value="HopHacks F15">HopHacks</option>
    <option value="Huskie Hack F15">Huskie Hack</option>
    <option value="Kent Hack Enough F15">Kent Hack Enough</option>
    <option value="LocalHackDay F15">LocalHackDay</option>
    <option value="MHacks VI F15">MHacks VI</option>
    <option value="MXHacks III F15">MXHacks III</option>
    <option value="MinneHack F15">MinneHack</option>
    <option value="PennApps XII F15">PennApps XII</option>
    <option value="RamHacks F15">RamHacks</option>
    <option value="SDHacks F15">SDHacks</option>
    <option value="Technica F15">Technica</option>
    <option value="TunaHack F15">TunaHack</option>
    <option value="UGA Hacks F15">UGA Hacks</option>
    <option value="Vandy Hacks F15">Vandy Hacks</option>
    <option value="VirtuaFest F15">VirtuaFest</option>
    <option value="WHACK F15">WHACK</option>
    <option value="WUHack F15">WUHack</option>
    <option value="WeCanCode Tijuana F15">WeCanCode Tijuana</option>
    <option value="WeCanCode Ensenada F15">WeCanCodeEnsenada</option>
    <option value="WildHacks F15">WildHacks</option>
  </optgroup>
</select>
