//whites
$cream: #F7E8DE;
$mutedCream: rgba(247,232,222, .3);
$butter: #d8bca7;

//browns
$mediumBrown: #433830;
$lightBrown: #5d4f43;
$chocolateSea: #3f332b;

//blues
$peterRiver: #3498db;
$belizeHole: #2980b9;
$devilsTeal: #1b3c4c;


$heroBackground: $mediumBrown;
$heroLink: $cream;
$heroMain: $cream;
$heroMainDark: $cream;
$heroAccent: $cream;

$buttonBackground: $mutedCream;
$buttonText: $mediumBrown;



$faqBackground: $butter;
$faqText: $lightBrown;

$sponsorBackground: $mediumBrown;
$sponsorForeground: #939599;
$sponsorText: $butter;

$resumeLabel: $cream;

$footer: $chocolateSea;
