<section id="sponsors">

  <h2 class="section-head">
      SPONSORS
  </h2>


<!--     <section id="gold">
    < @gold.each do |sponsor|  %>
      <div class="wrap media-grid">
          <article class="gold">
            <a href="<= sponsor[0] %>" target="_blank">
              <= image_tag sponsor[1], alt: sponsor[2], :class => "logo-sponsor" %>
              <= image_tag "sponsor_ship_sub.svg", alt: "Sponsor Ship", :class => "ship wiggle" %>
              <= image_tag "waves_sub.svg", alt: "Sponsor Waves", :class => "waves" %>
            </a>
          </article>
      </div>
    < end %>
  </section>

  <section id="silver">
    <div class="wrap media-grid">
      < @silver.each do |sponsor|  %>
        <article class="silver">
          <a href="<= sponsor[0] %> " target="_blank">
            <= image_tag sponsor[1], alt: sponsor[2], :class => "logo-sponsor" %>
            <= image_tag "sponsor_ship_sub.svg", alt: "Sponsor Ship", :class => "ship wiggle" %>
            <= image_tag "waves_sub.svg", alt: "Sponsor Waves", :class => "waves" %>
          </a>
        </article>
      < end %>
    </div>
  </section> -->

  <section id="bronze">
    <div class="wrap media-grid">
      <% @trainee.each do |sponsor|  %>
        <article class="bronze">
          <a href="<%= sponsor[0] %>" target="_blank">
            <%= image_tag sponsor[1], alt: sponsor[2], :class => "logo-sponsor" %>
          </a>
        </article>
      <% end %>
    </div>
  </section>

  <section id="sub"> 
    <div class="wrap media-grid">
      <% @partner.each do |sponsor|  %>
        <article class="sub">
          <a href="<%= sponsor[0] %>" target="_blank">
            <%= image_tag sponsor[1], alt: sponsor[2], :class => "logo-sponsor" %>
          </a>
        </article>
      <% end %>
    </div>
  </section>

</section>