<section id="schedule">
  <div id="schedule-wrap">
    <h2 class="section-head">
        SCHEDULE
    </h2>

    <div id="schedule-col-wrap">
    <% @schedule.each do |day|  %>
      <% if !day[2].blank? %>
        <div class="schedule-col">
          <div class="day-wrap">
            <div class="day"><%= day[0] %></div>
            <div class="weekday" ><%= day[1] %></div>
          </div>
        <% day[2].each do |event| %>
          <div class="event-wrap">
          <% if event[2] != "Food" %>
            <% if !event[0][0].blank? %>
              <div class="event-time"><%= event[0][1].blank? ? event[0][0] : "#{event[0][0]} - #{event[0][1]}" %></div>
            <% else %>
              <div class="event-time">TBD</div>
            <% end %>
          <% end %>
            <div class="event"><%= event[1] %></div>
          </div>
        <% end %>
        </div>
      <% end %>
    <% end %>

    </div>
  </div>

</section>
