  <section id="faq">
    <h2 class="section-head faq-top">
      FAQ
    </h2>



    <div id="faq-box">
      <div id="questions-wrap">
        <div class="arrow-wrap">
          <i class="fa fa-angle-up" style="display:none;"></i>
        </div>
        <div id="questions">
          <article class="active-q">
            <h3 id="1">
              <span>When was SpartaHack?</span>
            </h3>
          </article>
          
          <div class="a-hline hide"></div>

          <article>
            <h3 id="2">
              <span>Did you need to know how to code?</span>
            </h3>
          </article>
          
          <div class="a-hline"></div>

          <article>
            <h3 id="3">
              <span>Who could participate?</span>
            </h3>
          </article>
          
          <div class="a-hline"></div>

          <article>
            <h3 id="4">
              <span>Was there a code of conduct?</span>
            </h3>
          </article>
          
          <div class="a-hline"></div>

          <article>
            <h3 id="5">
              <span>How much did it cost to attend?</span>
            </h3>
          </article>
          
          <div class="a-hline"></div>

          <article>
            <h3 id="6">
              <span>How many students could have been on a team?</span>
            </h3>
          </article>
          
          <div class="a-hline"></div>

          <article>
            <h3 id="7">
              <span>Were there prizes?</span>
            </h3>
          </article>
          
          <div class="a-hline"></div>

          <article>
            <h3 id="8">
              <span>Could I have started the project before the event?</span>
            </h3>
          </article> 
          
          <div class="a-hline"></div>

          <article>
            <h3 id="9">
              <span>Did you reimburse travel?</span>
            </h3>
          </article>
          
          <div class="a-hline"></div>

          <article>
            <h3 id="10">
              <span>What did people bring?</span>
            </h3>
          </article>   
          
          <div class="a-hline"></div>

          <article>
            <h3 id="11">
              <span>How was the hackathon judged?</span>
            </h3>
          </article>
          
          <div class="a-hline"></div>

          <article>
            <h3 id="12">
              <span>Who organized this event?</span>
            </h3>
          </article>
          
          <div class="a-hline"></div>

          <article style="margin-bottom:0px;">
            <h3 id="13">
              <span>What hardware was available to hack?</span>
            </h3>
          </article>
          
          <div class="a-hline"></div>

          <article>
            <h3 id="14">
              <span id="last-span">Further questions?</span>
            </h3>
          </article>

        </div>
        <div class="arrow-wrap">
          <i class="fa fa-angle-down"></i>
        </div>
      </div>
      <div id="answers">
        <p>
          SpartaHack 2016 began on the evening of Friday, February 26th, and continued through the afternoon of Sunday, February 28th. That gave you 36 hours to experiment, design, dream, hack, and learn. 
        </p>
        <p style="display:none">
          Not at all! Everyone was welcome at SpartaHack, regardless of skill level or field of study. We had mentors on-site and plenty of workshops to help get you started.
        </p>
        <p style="display:none">
          Participation was limited to high school students, university students, or those who had
          left school within 2015-2016 school year. Minors were accepted!
        </p>
        <p style="display:none">
          Yes, we abided by the <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf">Major League Hacking Code of Conduct.</a>
        </p>
        <p style="display:none">
          SpartaHack 2016 was 100% free to attend. We provided food, nap rooms, and tons of swag. If you were not local, partial travel reimbursement was available to those who RSVPed.
        </p>
        <p style="display:none">
          Teams could have consisted of 1-4 students. You could find team members through our social media pages or on-site before hacking begins.
        </p>
        <p style="display:none">
          Absolutely! While this is was a learning event, prizes were awarded to those with the best implementations of their ideas. For a full list of prizes visit <a href="/live">our day-of site</a>!
        </p>
        <p style="display:none">
          Unfortunately not. You were welcome to come with ideas beforehand, but all your work must have been started and finished on site.
        </p>
        <p style="display:none">
          Travel reimbursement and bus information was displayed on attendee dashboards after they had applied, been accepted, and RSVPed. 
        </p>
        <p style="display:none">
          You needed a laptop and charger, a student ID, a change of clothes, and toiletries. We took care of the rest!
        </p>
        <p style="display:none">
          Judging was done by experienced professionals in the industry and MSU student leaders.
        </p>
        <p style="display:none">
          SpartaHack 2016 was organized by <a href="http://www.spartanhackers.com">Spartan Hackers</a>, a group of Michigan State University students dedicated to inspiring excitement about technical innovation.
        </p>
        <p style="display:none">
          In addition to the MLH hardware lab, we lent out an array of hardware at the event.
        </p>
        <p style="display:none">
          Shoot us an email at <a href="mailto:hello@spartahack.com">hello@spartahack.com</a>
          if you have any additional questions or concerns.
        </p>

      </div>
    </div>

      <div class="hline"></div>

      <div id="last-year">
        <a href="http://2015.spartahack.com" target="_blank">SpartaHack 2015</a>
        <a href="/winners2015" target="_blank">2015 Winners</a>
        <a href="http://2017.spartahack.com" target="_blank">SpartaHack 2017</a>
      </div>

    </div>
    
    <div class="hline-full"></div>
  </section>