<div id="header" class="header">
    <div class="navbar-nav left">
        <a href="#hero" class="anchorLink">
          <div id="home-nav" class="svg-wrapper active">
            <svg height="60" width="85" xmlns="http://www.w3.org/2000/svg">
              <rect class="shape home" height="60" width="85" />
            </svg>
          </div>
          <div class="text">2016</div>
        </a>

        <a href="#contact" class="anchorLink">
          <div id="contact-nav" class="svg-wrapper">
            <svg height="60" width="120" xmlns="http://www.w3.org/2000/svg">
              <rect class="shape contact" height="60" width="120" />
            </svg>
          </div>
          <div class="text">CONTACT</div>
        </a>

        <a href="#faq" class="anchorLink">
          <div id="faq-nav" class="svg-wrapper">
            <svg height="60" width="80" xmlns="http://www.w3.org/2000/svg">
              <rect class="shape" height="60" width="80" />
            </svg>
          </div>
          <div class="text">FAQ</div>
        </a>

        <a href="#sponsors" class="anchorLink">
          <div id="sponsor-nav" class="svg-wrapper">
            <svg height="60" width="122" xmlns="http://www.w3.org/2000/svg">
              <rect class="shape contact" height="60" width="122" />
            </svg>
          </div>
          <div class="text">SPONSORS</div>
        </a>

<!--         <a href="#mobile" class="anchorLink">
          <div id="mobile-nav" class="svg-wrapper">
            <svg height="60" width="103" xmlns="http://www.w3.org/2000/svg">
              <rect class="shape mobile-nav" height="60" width="103" />
            </svg>
          </div>
          <div class="text">MOBILE</div>  
        </a> -->
    </div>
    
    <div class="navbar-nav right">
    
  <% if cookies.signed[:spartaUser] %>
    <% if cookies.signed[:spartaUser][1] == "admin" %>
      <div id="app-wrapper">
        <a href="/admin">
          <div id="admin-nav" class="svg-wrapper">
            <svg height="60" width="188" xmlns="http://www.w3.org/2000/svg">
              <rect class="shape mobile-nav" height="60" width="188" />
            </svg>
          </div>
          <div class="text">ADMIN DASHBOARD</div>
        </a>
      </div>
    <% else %>
      <div id="app-wrapper">
        <a href="/app">
          <div id="app-nav" class="svg-wrapper">
            <svg height="60" width="142" xmlns="http://www.w3.org/2000/svg">
              <rect class="shape login" height="60" width="142" />
            </svg>
          </div>
          <div class="text">APPLICATION</div>
        </a>
      </div>  
    <% end %>
      <div id="login-wrapper">
        <a href="/logout">
          <div id="login-nav" class="svg-wrapper">
            <svg height="60" width="110" xmlns="http://www.w3.org/2000/svg">
              <rect class="shape login" height="60" width="110" />
            </svg>
          </div>
          <div class="text">LOG OUT</div>
        </a>
      </div>     
  <% else %>
      <div id="apply-wrapper">
        <a href="/apply">
          <div id="apply-nav" class="svg-wrapper">
            <svg height="60" width="95" xmlns="http://www.w3.org/2000/svg">
              <rect class="shape apply" height="60" width="95" />     
            </svg>
          </div>
          <div class="text">APPLY</div>
        </a>
      </div>

      <div id="login-wrapper">
        <a href="/login">
          <div id="login-nav" class="svg-wrapper">
            <svg height="60" width="93" xmlns="http://www.w3.org/2000/svg">
              <rect class="shape login" height="60" width="93" />
            </svg>
          </div>
          <div class="text">LOGIN</div>
        </a>
      </div>
  <% end %>

    </div>


    <nav>
        <ul class="mobile">
            <li><a href="#hero" class="anchorLink">HOME</a></li>
            <li><a href="#faq" class="anchorLink">FAQ</a></li>
<!--             <li><a href="#mobile" class="anchorLink">MOBILE</a></li> -->
            <li><a href="#contact" class="anchorLink">CONTACT</a></li>
        <% if cookies.signed[:spartaUser] %>
          <% if cookies.signed[:spartaUser][1] == "admin" %>
            <li><a href="/admin">ADMIN DASHBOARD</a></li>
          <% else %>
            <li><a href="/app">APPLICATION</a></li>
          <% end %>
            <li><a href="/logout">LOG OUT</a></li>
        <% else %>
            <li><a href="/apply">APPLY</a></li>
            <li><a href="/login">LOGIN</a></li>
        <% end %> 
        </ul>

        <div id="pull"><%= image_tag "2016.svg", alt: "2016", :id => "year" %><%= image_tag "menu.svg", alt: "menu", :id => "mobile-menu-img" %></div>
    </nav>



</div>

<a id="mlh-trust-badge" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank">
  <img src="https://s3.amazonaws.com/logged-assets/trust-badge/s2016.png" alt="MLH Official - Spring 2016" style="width:100%;" >
</a>

        