<footer class="footer">
  <div class="wrap">
    <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by SpartaHack
    &copy;<script>new Date().getFullYear()>document.write(new Date().getFullYear());</script>, <a href="http://www.spartanhackers.com">Spartan Hackers</a>&nbsp;&nbsp;
    <div>
      <a href="https://www.facebook.com/spartahackmsu"><i class="fa fa-facebook-square"></i></a>
      <a href="https://twitter.com/spartahack"><i class="fa fa-twitter"></i></a>
      <a href="https://github.com/SpartaHack"><i class="fa fa-github"></i></a>            
    </div>
  </div>
</footer>