<section id="hero">
	<div class="wrap">
	  
	  <div id="logo-wrap">
	      <h2 class="section-head title"><%= image_tag "sparathack2016.svg", alt: "SpartaHack", :class => "title-text" %></h2>
	      <p id="title-desc">Michigan State University’s official hackathon</p>
	      <p id="title-date">February 26-28, 2016</p>
	      <p id="title-hashtag">#livebythecode</p>
	      <%= image_tag "logo.svg", alt: "SpartaHack", :class => "logo" %>
	      <p id="intro">
	          SpartaHack 2016 is Michigan State University’s second annual student-run hackathon. On the weekend of February 26th, we're bringing together 500 students of all skill levels and disciplines to get creative with tech, connect with peers and professionals, and forget the words "I can't."
	          We're excited to see what you will create! Applications are now open.
	      </p>
	  </div>
	</div>
	<div class="hvr-sweep-to-right apply-wrapper">
      <a class="apply" href="/apply">APPLY&nbsp;&nbsp;></a>
    </div>
</section>