  <section id="faq">
    <h1 class="section-head faq-top">
      FAQ
    </h1>

    <div class="wrap">

      <div class="column">
        <article>
          <h2>
            <span>When is SpartaHack?</span>
          </h2>
          <p>
            SpartaHack 2016 will begin on the evening of Friday, February 26th, and continue through the afternoon of Sunday, February 28th. That gives you 36 hours to experiment, design, dream, hack, and learn. 
          </p>
          <div class="a-hline"></div>
        </article>
        
        <article>
          <h2>
            <span>Do I need to know how to code?</span>
          </h2>
          <p>
            Not at all! Everyone is welcome at SpartaHack, regardless of skill level or field of study. We will have mentors on-site and plenty of workshops to help get you started.
          </p>
        </article>
      </div>

      <div class="hline"></div>
      
      <div class="column">
        <article>
          <h2>
            <span>Who can participate?</span>
          </h2>
          <p>
            Participation is limited to high school students, university students, or those who have
            left school within 2015-2016 school year. Minors are accepted!
          </p>
          <div class="a-hline"></div>
        </article>
        
        <article>
          <h2>
            <span>How do I register?</span>
          </h2>
          <p>
            Applications won't open until later this fall, but if you <a href="#contact" class="anchorLink">sign up for our mailing list</a>, we'll let you know as soon as they're live.
          </p>
        </article>
      </div>
      
      <div class="hline"></div>

      <div class="column">
        <article>
          <h2>
            <span>How much does it cost to attend?</span>
          </h2>
          <p>
            SpartaHack is 100% free to attend. We will provide food, nap rooms, and tons of swag. If you're not local, stay tuned for information about travel reimbursement.
          </p>
          <div class="a-hline"></div>
        </article>

        <article>
          <h2>
            <span>How many students can be on a team?</span>
          </h2>
          <p>
            Teams can consist of 1-4 students. You can find team members through our social media pages or on-site before hacking begins.
          </p>
        </article>
      </div>

      <div class="hline"></div>

      <div class="column">
        <article>
          <h2>
            <span>Are there prizes?</span>
          </h2>
          <p>
            Absolutely! While this is a learning event, prizes will be awarded to those with the best implementations of their ideas. Check back soon for a full list of prizes, including the First Time Hacker award!
          </p>
          <div class="a-hline"></div>
        </article>
     
        <article>
          <h2>
            <span>Can I start the project before the event?</span>
          </h2>
          <p>
            Unfortunately not. You are welcome to come with ideas beforehand, but all your work must be done on site.
          </p>
        </article> 
      </div>

      <div class="hline"></div>

      <div class="column">
        <article>
          <h2>
            <span>Will you reimburse my travel?</span>
          </h2>
          <p>
            We intend to offer at least partial travel reimbursement to those who submit hacks at SpartaHack. We'll send out an email and post here when those plans are finalized.
          </p>
          <div class="a-hline"></div>
        </article>

        <article>
          <h2>
            <span>What should I bring?</span>
          </h2>
          <p>
            You will need a laptop and charger, a student ID, a change of clothes, and toiletries. We'll take care of the rest!
          </p>
        </article>   
      </div>

      <div class="hline"></div>

      <div class="column">
        <article>
          <h2>
            <span>How is the hackathon judged?</span>
          </h2>
          <p>
            Judging will be done by experienced professionals in the industry, MSU student leaders, and our panel of celebrity judges.
          </p>
          <div class="a-hline"></div>
        </article>
       
        <article>
          <h2>
            <span>Who is organizing this event?</span>
          </h2>
          <p>
            SpartaHack is organized by <a href="http://www.spartanhackers.com">Spartan Hackers</a>, a group of Michigan State University students dedicated to inspiring excitement about technical innovation.
          </p>
        </article>
      </div>

      <div class="hline"></div>

      <div class="column tail">
        <article style="margin-bottom:0px;">
          <h2>
            <span>What hardware will be available to hack?</span>
          </h2>
          <p>
            In addition to the MLH hardware lab, we will be lending out an array of hardware at the event. Check back soon for a detailed list.
          </p>
          <div class="a-hline"></div>
        </article>
       
        <article style="margin-bottom:0px;">
          <h2>
            <span id="last-span">Where should I direct further questions?</span>
          </h2>
          <p>
            Shoot us an email at <a href="mailto:hello@spartahack.com">hello@spartahack.com</a>
            if you have any questions or concerns.
          </p>
        </article>
      </div>

    <div class="hline-full"></div>
  </section>