<section id="hero">
	<div class="wrap">

	 	 <div id="logo-wrap">
			<h2 class="section-head title"><%= image_tag "sparathack2016.svg", alt: "SpartaHack", :class => "title-text" %></h2>
			<p id="title-desc">Michigan State University’s official hackathon</p>
			<p id="title-date">February 26-28, 2016</p>
			<p id="title-hashtag">#livebythecode</p>
			<%= image_tag "logo.svg", alt: "SpartaHack", :class => "logo" %>
			<p id="intro">
			  SpartaHack 2016 was Michigan State University’s second annual student-run hackathon. On the weekend of February 26th, we brought together 500+ students of all skill levels and disciplines to get creative with tech, connect with peers and professionals, and forget the words "I can't."
			</p>
<!-- 
			<p id="sorry">We're sorry, due to an overwhelming volume of applications, we have had to close registration.</p> -->
	  	</div>

	<% if cookies.signed[:spartaUser] %>
		<div class="hvr-underline-from-center apply-wrapper">
		<% if cookies.signed[:spartaUser][1] == "admin" || cookies.signed[:spartaUser][1] == "volunteer" || cookies.signed[:spartaUser][1] == "sponsorship" || cookies.signed[:spartaUser][1] == "statistics" %>
			<a class="hero-link" href="/admin">VIEW ADMIN DASHBOARD</a>
		<% else %>
			<% if @application %>
				<a class="hero-link" href="/live">Live!</a>
			<% else %>
				<% if @user["role"] != "sponsor" %>
				<a class="hero-link" href="/application">COMPLETE MY APPLICATION</a>
				<% else %>
					<a class="hero-link" href="/dashboard">View Dashboard</a>
				<% end %>
			<% end %>
		<% end %>
		</div>
	<% else %>
			<div class="hvr-underline-from-center apply-wrapper">
					<a class="hero-link" href="/live">Live!</a>
			</div>
	<% end %>
	</div>
</section>
