  <section id="faq">
    <div class="hline-full"></div>
    <div class="wrap">
      <h1>
        <span>FAQ</span>
      </h1>
      <div class="column">
        <article>
          <h2>
            <span>When is SpartaHack?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            Spartahack will take place from Friday, March 27th until Sunday,
            March 29th. You’ll have 36 hours to design, code, and build.
          </p>
        </article>
        <div class="hline"></div>
        <article>
          <h2>
            <span>Do I need to know how to code?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            Not at all!  We welcome a wide range of skill levels,
            from newcomer to the experienced programmer.
            Hackathons are a great place to learn a new skill!
          </p>
        </article>
        <div class="hline"></div>
        <article>
          <h2>
            <span>Who can participate?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            Participation is limited to high school students, university students, or those who have
            left school within 2014-2015 school year. Minors are accepted!
          </p>
        </article>
        <div class="hline"></div>
        <article>
          <h2>
            <span>How do I register?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            We are now accepting applicants! Head on over to our
            <a href="https://spartahack.typeform.com/to/Zh7TEH" target="_blank" class="anchorLink">registration page</a>
            to sign up. We look forward to seeing you at SpartaHack!
          </p>
        </article>
        <div class="hline"></div>
        <article>
          <h2>
            <span>Are there registration costs?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            SpartaHack, just like America, is free! We’ll feed you, clothe
            you (in a single t-shirt - so bring pants) and deck you out in swag.
          </p>
        </article>
        <div class="hline"></div>
        <article>
          <h2>
            <span>How many students can be on a team?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            Teams can consist of 1 - 4 students. If you don’t have a team:
            don’t worry! We’ll have team formation options on-site.
          </p>
        </article>
        <div class="hline"></div>
      </div>
      <div class="column">
        <article>
          <h2>
            <span>Are there prizes?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            Absolutely! <a href="http://www.spartahack.com/prizes">Prizes</a> are awarded for many categories, from the
            Grand Prize, to the Best Use of ___ API.  There is even a First-Time Hacker Prize!
          </p>
        </article>
        <div class="hline"></div>
        <article>
          <h2>
            <span>Can I start the project before the weekend?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            Unfortunately not.  You are welcome to come with ideas beforehand,
            but all your work must be done on site (don’t worry, you’ll have 36 hours).
          </p>
        </article>
        <div class="hline"></div>
        <article>
          <h2>
            <span>Will you reimburse my travel?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            Here is our <a href="/static/pdf/buses.pdf">bus information</a>. Here is our <a href="/static/pdf/travel.pdf">travel reimbursement</a> policy.
          </p>
        </article>
        <div class="hline"></div>
        <article>
          <h2>
            <span>What should I bring?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            You will need a laptop, a student ID/picture ID, toiletries,
            and, of course, your enthusiasm for the weekend.
          </p>
        </article>
        <div class="hline"></div>
        <article>
          <h2>
            <span>How is the hackathon judged?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            Judging will be done by experienced professionals in the industry, MSU student leaders, and our panel of celebrity judges!
          </p>
        </article>
        <div class="hline"></div>
        <article>
          <h2>
            <span>Who is organizing this event?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            SpartaHack is organized by a group of Michigan State University students
            dedicated to inspiring more students to get excited about technical innovation.
          </p>
        </article>
        <div class="hline"></div>
        <article class="tail">
          <h2>
            <span>Where should I direct further questions?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            Shoot us an email at
            <a href="mailto:hello@spartahack.com">hello@spartahack.com</a>
            if you have any questions or concerns.
          </p>
        </article>
      </div>
      <div class="hline-full"></div>
    </div>

  </section>