<section id="contact">
      <div class="wrap column">
        <h2 class="section-head">CONTACT</h2>
        <div class="email-us top"><div class="email-type">EMAIL</div><a href="mailto:hello@spartahack.com"><div class='email'>hello@spartahack.com</div></a></div>
        <div class="email-us tail"><div class="email-type">SPONSOR</div><a href="mailto:sponsor@spartahack.com"><div class='email'>sponsor@spartahack.com</div></a></div>
      </div>
</section>
