  <section id="faq">
    <div class="hline-full"></div>
    <h1 id="faq-head">
      FAQ
    </h1>

    <div class="wrap">

      <div class="column">
        <article>
          <h2>
            <span>When is SpartaHack?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            SpartaHack 2016 will begin on the evening of Friday, February 26th, and continue through the afternoon of Sunday, February 28th. That gives you 36 hours to experiment, design, dream, hack, and learn. 
          </p>
        </article>
        
        <article>
          <h2>
            <span>Do I need to know how to code?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            Not at all! Everyone is welcome at SpartaHack, regardless of skill level or field of study. We will have mentors on-site and plenty of workshops to help get you started.
          </p>
        </article>
      </div>

      <div class="hline"></div>
      
      <div class="column">
        <article>
          <h2>
            <span>Who can participate?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            Participation is limited to high school students, university students, or those who have
            left school within 2015-2016 school year. Minors are accepted!
          </p>
        </article>
        
        <article>
          <h2>
            <span>How do I register?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            Applications won't open until later this fall, but if you <a href="#contact" class="anchorLink">sign up for our mailing list</a>, we'll let you know as soon as they're live.
          </p>
        </article>
      </div>
      
      <div class="hline"></div>

      <div class="column">
        <article>
          <h2>
            <span>How much does it cost to attend?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            SpartaHack is 100% free to attend. We will provide more food, nap rooms, and tons of swag. If you're not local, stay tuned for travel reimbursement information
          </p>
        </article>

        <article>
          <h2>
            <span>How many students can be on a team?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            Teams can consist of 1 - 4 students. If you don’t have a team:
            don’t worry! We’ll have team formation options on-site.
          </p>
        </article>
      </div>

      <div class="column">
        <article>
          <h2>
            <span>Are there prizes?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            Absolutely! <a href="http://www.spartahack.com/prizes">Prizes</a> are awarded for many categories, from the
            Grand Prize, to the Best Use of ___ API.  There is even a First-Time Hacker Prize!
          </p>
        </article>
     
        <article>
          <h2>
            <span>Can I start the project before the weekend?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            Unfortunately not.  You are welcome to come with ideas beforehand,
            but all your work must be done on site (don’t worry, you’ll have 36 hours).
          </p>
        </article> 
      </div>

      <div class="hline"></div>

      <div class="column">
        <article>
          <h2>
            <span>Will you reimburse my travel?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            Here is our <a href="/static/pdf/buses.pdf">bus information</a>. Here is our <a href="/static/pdf/travel.pdf">travel reimbursement</a> policy.
          </p>
        </article>

        <article>
          <h2>
            <span>What should I bring?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            You will need a laptop, a student ID/picture ID, toiletries,
            and, of course, your enthusiasm for the weekend.
          </p>
        </article>   
      </div>

      <div class="hline"></div>

      <div class="column">
        <article>
          <h2>
            <span>How is the hackathon judged?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            Judging will be done by experienced professionals in the industry, MSU student leaders, and our panel of celebrity judges!
          </p>
        </article>
       
        <article>
          <h2>
            <span>Who is organizing this event?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            SpartaHack is organized by a group of Michigan State University students
            dedicated to inspiring more students to get excited about technical innovation.
          </p>
        </article>
      </div>

      <div class="hline"></div>

      <div class="column">
        <article>
          <h2>
            <span>Where should I direct further questions?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            Shoot us an email at
            <a href="mailto:hello@spartahack.com">hello@spartahack.com</a>
            if you have any questions or concerns.
          </p>
        </article>
       
        <article class="tail">
          <h2>
            <span>Who is organizing this event?</span>
            <i class="fa fa-plus"></i>
          </h2>
          <p>
            SpartaHack is organized by a group of Michigan State University students
            dedicated to inspiring more students to get excited about technical innovation.
          </p>
        </article>
      </div>

    <div class="hline-full"></div>
  </section>