<br>
<p>SpartaHack is Michigan State University’s official hackathon. For one weekend, 300 students from a wide range of disciplines and skill levels will team up to build creative, innovative technological projects from scratch.</p>




