$(document).ready(function() {	
	$('#popup-wrapper').click(function(e){
		  if (e.target !== this)
		    return;
		  
		  $('#popup-wrapper').fadeOut('fast');
	});

	$('#users').click(function(e){
		e.preventDefault();

		$('#popup-wrapper').html('\
			<section class="topic-selection">\
				<div class="row">\
                    <div class="hvr-underline-from-left full">\
                        <a href="/admin/users/applications"><div class="topic" >Applications</div></a>\
                    </div>\
                    <div class="hvr-underline-from-left full">\
                        <a href="/admin/users/rsvps"><div class="topic" >RSVPs</div></a>\
                    </div>\
                    <div class="hvr-underline-from-left full">\
                        <a href="/admin/users/checkin"><div class="topic" >Check-in Attendees</div></a>\
                    </div>\
			        <div class="hvr-underline-from-left full">\
			            <a href="/admin/users/email"><div class="topic" >Email</div></a>\
			        </div>\
		        </div>\
	        </section>\
		');
			
		$("#popup-wrapper").css("display", "flex");
	})

});