$(document).ready(function() {
	$('#popup-wrapper').click(function(e){
		  if (e.target !== this)
		    return;

		  $('#popup-wrapper').fadeOut('fast');
	});

	$('#users').click(function(e){
		e.preventDefault();

		$('#popup-wrapper').html('\
			<section class="topic-selection">\
				<div class="row">\
                    <div class="hvr-underline-from-left full">\
                        <a href="/admin/users/applications"><div class="topic" >Applications</div></a>\
                    </div>\
										<div class="hvr-underline-from-left full">\
												<submit id="generate_code" class="topic">Generate Application Code</submit>\
                    </div>\
                    <div class="hvr-underline-from-left full">\
                        <a href="/admin/users/rsvps"><div class="topic" >RSVPs</div></a>\
                    </div>\
                    <div class="hvr-underline-from-left full">\
                        <a href="/admin/users/checkin"><div class="topic" >Check-in Attendees</div></a>\
                    </div>\
			        <div class="hvr-underline-from-left full">\
			            <a href="/admin/users/email"><div class="topic" >Email</div></a>\
			        </div>\
		        </div>\
	        </section>\
		');

		$('#generate_code').click(function(e){
			e.preventDefault();

					$.ajax({
							url: "/admin/users/generate",
							beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
							type: "post",
							context: document.body
					});
		});

		$("#popup-wrapper").css("display", "flex");
	})
	
	$('#announce').submit(function(e){
		e.preventDefault();
		$.ajax({
			url: "/admin/notifications",
			beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
			type: "post",
			context: document.body,
			data: $(this).serialize()
		});
		$(this).closest('form').find("input[type=text], textarea").val("");
		$("#pinned").removeAttr('checked');
	});

});
