@import 'partials/colorScheme';
@import 'partials/fonts';

#app{
  background-color: transparent;
  @media (max-width: 550px) {
    margin-top: 30px;
  }

  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  color: $cream;
  height: 100%;  

  font-family: ubuntu;


  a {
    color: $mutedText;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
  }

  a:hover {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: .7;
  }

  .row {
    width: 87%;
    margin-top: 50px;
    @media (min-width: 550px) {
      width: 530px;
    }
  }
  
  #required {
    text-align: center;
    margin-top: -20px;
    font-family: ubuntu;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    @media (min-width: 550px) {
      margin-top: -40px;
    }
  }

  ::-webkit-input-placeholder {
    color: $cream;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 15px;
    opacity: 1;
    padding-right: 1em;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $cream;
    font-family: ubuntu;
    font-size: 15px;
    opacity: 1;
    font-weight: 100;
    padding-right: 1em;
  }

  ::-moz-placeholder {  /* Firefox 19 */
    color: $cream;
    font-family: ubuntu;
    font-weight: 100;
    font-size: 15px;
    opacity: 1;
    padding-right: 1em;
  }

  :-ms-input-placeholder { 
    color: $cream;
    font-family: ubuntu;
    font-weight: 100;
    font-size: 15px;
    opacity: 1;
    padding-right: 1em;
  }

  .inner {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    @media (max-width: 550px) {
      flex-direction: column;
      -webkit-flex-direction: column;
    }
  }

  input[type=text]{
    height: 36px;
    text-align:left; 
    border: solid 1px $mutedOutline; 
    font-size: 15px; 
    font-weight: 100;
    color: $cream;
    background: none;
    padding: 8px 0px 8px 25px; 
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0px;
    @media (max-width: 550px) {
      width:100%; 
      height: 54px;
      box-sizing: border-box;         /* For IE and modern versions of Chrome */
      -moz-box-sizing: border-box;    /* For Firefox                          */
      -webkit-box-sizing: border-box; /* For Safari                           */
      margin-bottom: 15px;
    }
  }

  textarea {
    width: 530px;
    height:150px;
    resize: none;
    border: solid 1px $mutedOutline;
    margin-bottom: 0px;
    text-align:left; 
    font-family: ubuntu;
    font-size: 15px; 
    font-weight: 100;
    color: $cream;
    background: none;
    padding: 18px 0px 8px 25px; 
    -webkit-font-smoothing: antialiased;
    @media (max-width: 550px) {
      width:100%; 
      box-sizing: border-box;         /* For IE and modern versions of Chrome */
      -moz-box-sizing: border-box;    /* For Firefox                          */
      -webkit-box-sizing: border-box; /* For Safari                           */
    }
  }

  #firstName, #lastName{
    @media (min-width: 550px) {
      width: 225px;
      margin-bottom: 0px;
    }
  }

  #hackathons, #university, #major, #gradeLevel, #gender{
    width: 100%;
    @media (min-width: 550px) {
      width: 530px;
      margin-bottom: 0px;
    } 
  }

  #highschool {
    margin-bottom: 10px;
    text-align: center;
  }

  #enrollment-wrap {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    border: solid 1px $mutedOutline;
    font-weight: 100;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    height: 60px;
    margin-bottom: 15px;
    @media (max-width: 550px) {
      height: 75px;
    }
  }

  input[type=radio]{
    /* Hide original inputs */
    visibility: hidden;
    position: absolute;
  }
  input[type=radio] + label:before{
    height:12px;
    width:12px;
    margin-right: 2px;
    content: " ";
    display:inline-block;
    vertical-align: baseline;
    border:1px solid $mutedCream;
    border-radius:50%;
  }

  input[type=radio]:checked + label:before{
    background: $mutedText;
  }


  #radio-wrap {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items:center;
  }

  #birthdate-wrap {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-content: space-between;
    @media (min-width: 550px) {
      flex-direction: row;
      -webkit-flex-direction: row;
      justify-content: space-between;
      -webkit-justify-content: space-between;
    }
  }

  span {
    @media (max-width: 550px) {
      margin-bottom: 7.5px;
    }     
  }

  #birthday, #birthmonth, #birthyear{
    width: 100%;
    @media (min-width: 550px) {
      width: 160px;
      margin-bottom: 0px;
    } 
  }

  #email {
    @media (max-width: 550px) {
      margin-bottom: 15px;
    }
  }

  input[type=text]:focus, textarea:focus, option:focus, select:focus, span:focus, span input:focus {
    border-color: rgba(128, 295, 219, 1) !important;
    box-shadow: 0 1px 1px rgba(128, 295, 219, 0.075) inset, 0 0 8px rgba(128, 295, 219, 0.6) !important;
    outline: 0 none !important;
  }

  #log {
    padding-right: 30px;
    @media (max-width: 550px) {
      padding-right: 25px;
    }
  }

  #whyAttend, #github, #linkedIn, #devPost,
  #website, #coolLink, #aboutMe, #otherUniversity {
    width:100%;
    @media (min-width: 550px) {
      width: 503px;
      margin-bottom: 0px;
    } 
  }

  .has-icon {
    position: relative;
  }

  .icon {
    position: absolute;
    height: 36px;
    max-width: 40px;
    top: 0px;
    right: 8px;
    bottom: 0px;
    margin: auto;
    @media (max-width: 550px) {
      margin-top: 8px;
    } 

  }

  .icon path {
    fill: $mutedOutline;
    stroke: $mutedOutline;

  }

  .add-margin {
    margin-top: 0px;
    @media (min-width: 550px) {
      margin-top: 26px;
    } 
  }

  .under-textarea {
    margin-top: 15px;
    @media (min-width: 550px) {
      margin-top: 21px;
    }
  }

  input[type=submit] {
    background: none;
    border-style: none;
    text-align: center;
    border: solid 1px $mutedOutline;
    color: $cream;
    font-weight: 200;
    font-size: 15px;
    border-radius: 0;
    height: 60px;
    width: 100%;
    cursor: pointer; 
    cursor: hand;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 550px) {
      width: 530px;
      padding-right: 25px;
    }
  }  

  input[type=submit]:hover {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 0px;
    -webkit-box-shadow:0 0 8px $cream; 
    -moz-box-shadow: 0 0 8px $cream; 
    box-shadow:0 0 8px $cream;
  }

  input[type=submit]:focus {
    border: solid 1px $mutedOutline;  }

  #error-wrapper {
    width: 98%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 550px){
      width: 530px;
    }

  }

  .error {
    margin-bottom: 15px;
  }

  .no-label {
    display: none;
  }

  i {
    color: $cream;
  }

  #mlh-wrap {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    border-style: none;
    border: solid 1px $mutedOutline;
    border-radius: 0;
    height: 60px;
    width: 100%;
    @media (max-width: 550px){
      margin-bottom: 15px;
    }
  }

  #agree {
    position: absolute;
    left: -9999;
  }

  .agree {
    width: 20px;
    margin-left: 25px;
    position: relative;
    @media (max-width: 400px) {
      margin-bottom: 15px;
    }
  }

  .agree label {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    border-radius: 4px;
    background: $mutedText;
  }

  #mlh-text {
    position: absolute;
    margin-left: 30px;
    width: 300px;
    word-wrap: normal;
    @media (max-width: 400px) {
      width: 87%;
      width: 250px;
      word-wrap: normal;
    }

  }

  .agree label:after {
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid $mainBackground;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .agree label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
  }

  .agree input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }

  #save-app {
    margin-top: 0px;
    margin-bottom: 100px;
    @media (min-width: 550px) {
      margin-top: 21px;
    }
  }

  #application {
    margin-bottom: 0px;
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  color: #000000;
  position: absolute;
  top: 17px;
  right: 5px;
  width: 20px;
}

.select2-search__field {
  border-style: none;
}

input[type=search] {
  background-color: transparent !important;
  font-weight: 100 !important;
}

#popup-wrapper {
  position: fixed;
  display: none;
  z-index: 9;
  background-color: rgba(3, 3, 22, .9);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 60px;
  margin: auto;

  animation:popup-wrapper 1s 1;
  -webkit-animation:popup-wrapper 1s 1;
  animation-fill-mode: forwards;

  animation-delay:3s;
  -webkit-animation-delay:2s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
  @media (max-width: 550px) {
    width: 87%;

  }

}

#popup {
  position: fixed;
  z-index: 9;
  background-color: $mainBackground;
  border: 1px solid $mutedOutline;
  border-radius: 1px;
  overflow-y: hidden;
  color: $cream;
  font-family: ubuntu;
  font-size: 18px;
  font-weight: 100;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  padding: 28px 0px;
  width: 528px;
  left: 0;
  right: 0;
  margin: auto;
  @media (max-width: 550px) {
    width: 87%;

  }

}

#popup-error-wrapper {
  position: fixed;
  z-index: 9;
  background-color: rgba(3, 3, 22, .9);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 60px;
  margin: auto;

  animation:popup-error-wrapper 1s 1;
  -webkit-animation:popup-error-wrapper 1s 1;
  animation-fill-mode: forwards;

  animation-delay:3s;
  -webkit-animation-delay:2s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
  @media (max-width: 550px) {
    width: 87%;

  }

}

#popup-error {
  position: fixed;
  z-index: 9;
  background-color: $mainBackground;
  border: 1px solid $mutedOutline;
  border-radius: 1px;
  overflow-y: hidden;
  color: $cream;
  font-family: ubuntu;
  font-size: 18px;
  font-weight: 100;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  padding: 28px 0px;
  width: 528px;
  left: 0;
  right: 0;
  top: 60px;
  margin: auto;

  @media (max-width: 550px) {
    width: 87%;

  }

}

@keyframes popup-error-wrapper{
    from {opacity :1;}
    to {opacity :0; visibility: hidden;}
}

@-webkit-keyframes popup-error-wrapper{
    from {opacity :1;}
    to {opacity :0; visibility: hidden;}
}

@keyframes popup-wrapper{
    from {opacity :1;}
    to {opacity :0; visibility: hidden;}
}

@-webkit-keyframes popup-wrapper{
    from {opacity :1;}
    to {opacity :0; visibility: hidden;}
}
