@import 'partials/colorScheme';
@import 'partials/fonts';

.footer {
  margin-top: 100px;
  border-top: 1px solid $mutedOutline;
  text-align: center;
  padding: .75em 0;
  font-family: ubuntu;
  font-weight: 100;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: $mainBackground;
  color: $cream;
  font-size: .9em;
  z-index: 999999;

  .fa-code, .fa-heart, .fa-facebook-square, 
  .fa-twitter, .fa-github {
    color: $mutedText;
  }


  a {
    color: $cream;
    display: inline-block;
    padding: 0 2px;

    &:hover {
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      opacity: .7;
    }
  }
}

  .rails {
    height: 20px;
    width: auto;
    margin-bottom: -5px;
  }