@import 'partials/colorScheme';
@import 'partials/fonts';

.footer {
  margin-top: 0px;
  border-top: 1px solid $mutedOutline;
  text-align: center;
  padding: 10px 0;
  font-family: ubuntu;
  font-weight: 100;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  color: $cream;
  font-size: 15px;

  .fa-code, .fa-heart, .fa-facebook-square, 
  .fa-twitter, .fa-github {
    color: $mutedText;
  }


  a {
    color: $cream;
    display: inline-block;
    padding: 0 2px;

    &:hover {
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      opacity: .7;
    }
  }
}