@import 'partials/colorScheme';
@import 'partials/fonts';

#hero {
  @media (max-width: 550px) {
    .section-head {
      margin: 25px 0px; 
    }
  }

  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  border-bottom: 1px solid $mutedOutline;
  border-collapse: collapse;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  min-height: 100%;
  background-color: transparent;
  text-align: center;
  letter-spacing: .05em;
  
  .wrap {
    margin-top: 61px;
  }

  .title-text {
    height: 40px;
    width: 87%;
  }

  #title-desc, #title-hashtag {
    font-size: 110%;
    color: $mutedText;
    margin: 10px 0px;
    @media (max-width: 550px) {
      font-size: 90%;
      margin: 5px 0px;
    }
  }

  #title-date {
    font-size: 140%;
    margin: 0px;
    @media (max-width: 550px) {
      font-size: 120%;
    }
   }

  p {
    width: 100%;
    margin: auto;
    min-width: 140px;
    font-size: 110%;
    margin-top: .5em;
    margin-bottom: 25px;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    color: $cream;
  }

  #logo-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: block;

    .title {
      margin-bottom: 10px;
    }

  }

  .logo{
    min-width: 185px;
    max-width: 400px;
    width: 50%;
    margin-top: -50px;
    @media (max-width: 550px) {
      margin-top: -25px;
    }
  }

  a {
    color: $faqText;
    text-decoration: underline;
    &:visited {
      color: $faqText;
    }
  }

  #intro {
    width: 100%;
    line-height: 250%;
    margin-top: -50px;
    
    @media (max-width: 1024px) {
      width: 87%;
      line-height: 150%;
      margin-top: -25px;
    }
  }

  .apply-wrapper {
    background: none;
    margin: auto;
    text-align: right;
    border: solid 1px $mutedOutline;
    display: block; 
    color: $cream;
    width: 90%;
    font-weight: 100;
    font-size: 15px;
    height: 60px;
    cursor: pointer; 
    cursor: hand;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 50px;
    @media (min-width: 560px) {
      width: 557px;
      margin-bottom: 100px;
    }
  }

  .hero-link {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 557px;
    margin: auto;
    color: $cream;
    font-family: ubuntu;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    height: 60px;
    cursor: pointer; 
    cursor: hand;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    
  }
}