@import 'partials/colorScheme';
@import 'partials/fonts';

#login{
  @media (max-width: 550px) {
    margin-top: 30px;
  }
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  color: $cream;
  height: 100vh;  

  font-family: ubuntu;

  .row {
    width: 87%;
    margin-top: 50px;
    @media (min-width: 550px) {
      width: 530px;
      margin-top: 300px;
    }
  }

  ::-webkit-input-placeholder {
    color: $cream;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 14px;
    padding-right: 1em;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $cream;
    font-family: ubuntu;
    font-size: 14px;
    font-weight: lighter;
    padding-right: 1em;
  }

  ::-moz-placeholder {  /* Firefox 19 */
    color: $cream;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 14px;
    padding-right: 1em;
  }

  :-ms-input-placeholder { 
    color: $cream;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 14px;
    padding-right: 1em;
  }

  #inner {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding-bottom: 25px;
    @media (max-width: 550px) {
      padding-bottom: 15px;
      flex-direction: column;
      -webkit-flex-direction: column;
    }
  }

  input {
    text-align:left; 
    border: solid 1px $mutedOutline; 
    font-size: 14px; 
    font-weight: 100;
    color: $cream;
    background: none;
    padding: 8px 0px 8px 25px; 
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
  }

  #email, #password {
    height: 36px;
    @media (min-width: 550px) {
      width: 225px;
      margin-bottom: 0px;
    }
  }

  #email {
    @media (max-width: 550px) {
      margin-bottom: 15px;
    }
  }

  input:focus {
    border-color: rgba(128, 295, 219, 1) !important;
    box-shadow: 0 1px 1px rgba(128, 295, 219, 0.075) inset, 0 0 8px rgba(128, 295, 219, 0.6) !important;
    outline: 0 none !important;
  }

  #log {
    padding-right: 30px;
    @media (max-width: 550px) {
      padding-right: 25px;
    }
  }

  input[type=submit] {
    background: none;
    border-style: none;
    text-align: right;
    border: solid 1px $mutedOutline;
    color: $cream;
    font-weight: 100;
    font-size: 15px;
    border-radius: 0;
    height: 60px;
    width: 100%;
    cursor: pointer; 
    cursor: hand;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 550px) {
      width: 530px;
    }
  }  

  input[type=submit]:hover {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 0px;
    -webkit-box-shadow:0 0 8px $cream; 
    -moz-box-shadow: 0 0 8px $cream; 
    box-shadow:0 0 8px $cream;
  }

  #error-wrapper {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 550px){
      width: 530px;
    }

    div a {
      text-decoration: underline;
      color: $cream;
    }
  }

  .error {
    margin-bottom: 15px;
  }

  .no-label {
    display: none;
  }
}

