@import 'partials/colorScheme';
@import 'partials/fonts';

.header {

  * {
    margin: 0;
    padding: 0;
  }

  z-index: 999;
  background: $mainBackground;
  border-bottom: solid 1px $mutedOutline;
  position: fixed;
  overflow:hidden;
  -webkit-overflow-scrolling:touch;
  top: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  width: 100%;
  transition: all .2s ease-in-out;
 
// desktop menu formatting ----------------------------------

  .navbar-nav {
    background: $mainBackground;
    margin: 0px;
    font-family: ubuntu;
    font-weight: 100;
    border-radius: 0;

    a {
      color: $cream;
      font-size: 15px;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased;
    }

  }

  .right{
    width: 50%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;

  }

  .left {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    width: 50%;
    align-content: left;
    -webkit-align-content: left;
    justify-content: left;
    -webkit-justify-content: left;
  }

  // svg desktop menu tabs ----------------------------------------

  .svg-wrapper {
    transform: translateY(-50%);
    margin: 0 0;
    height: 60px;
    position: relative;
    top: 30px; 
  }

  .shape {
    stroke-dasharray: 50 520;
    stroke-dashoffset: -155;
    stroke-width: 0px;
    fill: transparent;
    stroke: $cream;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }

  .mobile-nav {
    stroke-dashoffset: -190;
  }

  .contact {
    stroke-dashoffset: -218;
  }

  .home {
    stroke-dashoffset: -165;
  }

  .apply {
    stroke-dashoffset: -175;
  }

  .login {
    stroke-dashoffset: -170;
  }

  #apply-wrapper, #login-wrapper, #app-wrapper {
    border-left: solid 1px $mutedOutline;
  }

  .active {
    stroke-width: 5px;
    
    .shape {
      stroke-width: 2px;
      stroke-dashoffset: 0;
      stroke-dasharray: 560;
    }
  }

  .text {
    font-family: ubuntu;
    font-weight: 100;
    color: $cream;
    margin-top: -40px;
    margin-left: 25px;
  }
  .svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 560;
  }

  // mobile navigation bar -------------------------------------------


  nav a {
    color: #fff;
    display: inline-block;
    width: 100vw;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
  }

  nav li:hover, nav li a:hover {
    background-color: #80FFDB;
    color: #030316;
    text-shadow: none;
   }   

  .mobile {
    margin-top: 10px;
    padding-bottom: 10px;
    border: solid $mutedOutline;
    border-width: 0px 0px 1px 0px;
  }

  nav div#pull {
    display: none;
  } 

  @media only screen and (max-width : 550px) {
    .navbar-nav {
      display: none;
    }

    nav {
      border-bottom: 0;
    }
    nav ul {
      display: none;
      height: auto;
    }
    nav div#pull {
      display: flex;
      display: -webkit-flex;
      font-family: MoonDance;
      font-weight: 100;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased;
      background-color: $mainBackground;
      font-size: 140%;
      height: 60px;
      width: 100vw;
      align-items: center;
      -webkit-align-items: center;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      padding-left: 15px;

      #year {
        width: 60px;
      }

      #mobile-menu-img {
        width: 36px;
        height: 36px;
        margin-right: 29px;
      }
    }

    nav li {
      display: block;
      padding-left: 0px;
      width: 100%;
    }

    nav li a {
      color: $cream;
      font-family: ubuntu;
      font-weight: 100;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased;
    }

  }

  @media only screen and (min-width : 551px) {
    nav {
      display: none;
    }
    height: 60px;
  }




}

  .animated {
    -webkit-animation-duration: 0.5s;
       -moz-animation-duration: 0.5s;
         -o-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
  }

  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
    }

    100% {
      -webkit-transform: translateY(0);
    }
  }

  @-moz-keyframes slideDown {
    0% {
      -moz-transform: translateY(-100%);
    }

    100% {
      -moz-transform: translateY(0);
    }
  }

  @-o-keyframes slideDown {
    0% {
      -o-transform: translateY(-100%);
    }

    100% {
      -o-transform: translateY(0);
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0);
    }
  }

  .animated.slideDown {
    -webkit-animation-name: slideDown;
    -moz-animation-name: slideDown;
    -o-animation-name: slideDown;
    animation-name: slideDown;
  }

  @-webkit-keyframes slideUp {
    0% {
      -webkit-transform: translateY(0);
    }

    100% {
      -webkit-transform: translateY(-100%);
    }
  }
  @-moz-keyframes slideUp {
    0% {
      -moz-transform: translateY(0);
    }

    100% {
      -moz-transform: translateY(-100%);
    }
  }
  @-o-keyframes slideUp {
    0% {
      -o-transform: translateY(0);
    }

    100% {
      -o-transform: translateY(-100%);
    }
  }
  @keyframes slideUp {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-100%);
    }
   }
   
  .animated.slideUp {
    -webkit-animation-name: slideUp;
    -moz-animation-name: slideUp;
    -o-animation-name: slideUp;
    animation-name: slideUp;
  }

