@import 'partials/colorScheme';
@import 'partials/fonts';   

#sponsors {
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (doesn't work very well) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  -webkit-align-items: center;
  justify-content: center; 
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  text-align: center; 
  color: $faqText;
  position: relative;

  section {
    margin-bottom: 3em;

  }

  #sponsor-wrap {
    width: 70%;
    @media (max-width: 550px) {
      width: 100%;
    }
  }

  .media-grid {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (doesn't work very well) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    @media (max-width: 550px) {
      flex-direction: column;
      -webkit-flex-direction: column;
    }

  }

  a {
    color: $mutedText;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
  }


}

.center {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (doesn't work very well) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  align-content: center;
}

.sub {
  min-width: 170px;
  .logo-sponsor {
    max-width: 170px;
    height: auto;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 25px;
    @media (max-width: 550px) {
      margin: 0px 0px 25px 0px;
    }
  }

  
}

.bronze {
  width: auto;
  .logo-sponsor {
    min-width: 160px;
    max-width: 400px;
    height: 52px;
    margin: 0px 25px 25px 25px;

    @media (max-width: 550px) {
      min-width: 160px;
      max-width: 200px;
      height: auto;
      margin: 0px 0px 25px 0px;
    }
  }

  
}

.silver {
  max-width: 450px;
  .logo-sponsor {
    min-width: 240px;
    max-width: 400px;
    height: 81px;
    margin: 0px 25px 25px 25px;

    @media (max-width: 550px) {
      min-width: 240px;
      max-width: 250px;
      height: auto;
      margin: 0px 0px 25px 0px;
    }
  }

  
}

.gold {
  max-width: 650px;
  .logo-sponsor {
    height: 95px;
    min-width: 300px;
    max-width: 600px;
    margin: 0px 25px 25px 25px;

    @media (max-width: 550px) {
      min-width: 300px;
      max-width: 325px;
      height: auto;
      margin: 0px 0px 25px 0px;
    }
  }

  
}

#sponsor-us {
  font-family: ubuntu;
  font-weight: 100;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 50px;
}

#sponsor-email:hover {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: .7;
  }

.logo-sponsor {
  @media (min-width: 551px) {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
  }
}

.logo-sponsor:hover {
  @media (min-width: 551px) {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
  }
}



