@import 'partials/colorScheme';
@import 'partials/fonts';   

#sponsors {
  padding: .1em;
  width: 100%;
  background-color: transparent;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  text-align: center; 
  color: $faqText;
  position: relative;

  & > section {
    margin-bottom: 3em;
  }


  article {
    position: relative;
  }

  .media-grid {
    align-items: flex-end;
    justify-content: center;
  }
}

.logo-sponsor {
  display: block;
  width: 65%;
  margin: auto;
}

.gold {


}

.sub {

  .logo-sponsor {
    width: 125px;
    margin-bottom: 1.25em;
    margin-left: 40px;
    margin-right: 40px;
  }

  
}

.bronze {

  .logo-sponsor {
    width: 55%;
    margin-bottom: .5em;
  }

  
}

