@keyframes "pulse_animation" {
        0% { transform: scale(1); }
        25% { transform: scale(1.08); }
        50% { transform: scale(1); }
        75% { transform: scale(1.08); }
        100% { transform: scale(1); }
}

.pulse:hover {
  animation-name: 'pulse_animation';
        animation-duration: 2500ms;
        transform-origin:50% 50%;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
}

@keyframes 'wiggle'{
  0%{transform:rotate(2deg);}
  50%{transform:rotate(-2deg);}
  100%{transform:rotate(2deg);}
}

.wiggle:hover {
  animation:'wiggle' .3s 2;
        animation-iteration-count: infinite;
}
