//whites
$cream: rgb(128,295,219);
$mutedCream: rgba(128,295,219,.3);
$mutedText: #9aa8a9;
$butter: #d8bca7;

//browns
$mediumBrown: #433830;
$lightBrown: #5d4f43;
$chocolateSea: #3f332b;

//blues
$mainBackground: #030316;

$peterRiver: #3498db;
$belizeHole: #2980b9;
$devilsTeal: #1b3c4c;


$heroLink: $cream;
$heroMain: #030316;
$heroMainDark: $cream;
$heroAccent: $cream;

$buttonBackground: $mutedCream;
$buttonText: $mediumBrown;



$faqText: $cream;

$sponsorBackground: $mediumBrown;
$sponsorForeground: #939599;
$sponsorText: $butter;

$resumeLabel: $cream;

$footer: $chocolateSea;
