@import 'components/colorScheme';
@import 'components/fonts';

#contact {

  .wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $cream;
  }

  ::-webkit-input-placeholder {
    color: $cream;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 14px;
    padding-right: 1em;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $cream;
    font-family: ubuntu;
    font-size: 14px;
    font-weight: lighter;
    padding-right: 1em;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $cream;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 14px;
    padding-right: 1em;
  }

  :-ms-input-placeholder { 
    color: $cream;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 14px;
    padding-right: 1em;
  }

  input[type=email] {
    width: 86%;
    display: inline-block;
    border: solid 1px $mutedCream;
    margin-top: 35px;
    margin-bottom: 0px;
    text-align:left; 
    font-size: 14px; 
    font-weight: lighter;
    color: $cream;
    background: none;
    padding: 8px 0px 8px 25px; 
    height: 36px;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 560px) {
      width: 530px;
    }
  }

  input[type=text] {
    text-align:left; 
    border: solid $mutedCream;
    font-size: 14px; 
    font-weight: 100;
    color: $cream;
    background: none;
    padding: 8px 0px 8px 25px; 
    width: 40%;
    height: 36px;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 560px) {
      width: 235px;
    }
  }

  #message {
    width: 86%;
    height: 150px;
    display: inline-block;
    border: solid 1px $mutedCream;
    margin-top: 35px;
    margin-bottom: 0px;
    text-align:left; 
    font-size: 14px; 
    font-weight: lighter;
    color: $cream;
    background: none;
    padding: 8px 0px 8px 25px; 
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 560px) {
      width: 530px;
    }
  }

  #note {
    width: 86%;
    text-align: left;
    font-size: 14px; 
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    margin-top: 5px;
    margin-bottom: 0px;
    @media (min-width: 560px) {
      width: 530px;
    }
  }

  .inner {
    width: 92%;
    border: solid $mutedCream;
    border-width: 0px 1px 0px 1px;
    @media (min-width: 560px) {
      width: 555px;
    }
  }

  #fname {
    float: left;
    border-width: 1px 1px 1px 0px;
  }

  #lname {
    float: right;
    border-width: 1px 0px 1px 1px;
  }

  .email-us {
    width: 86%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-family: MoonDance;;
    font-size: 24px;
    margin-top: 35px;
    @media (max-width: 340px) {
      font-size: 14px;
    }
    @media (min-width: 341px) and (max-width: 560px) {
      font-size: 18px;
    }
    @media (min-width: 560px) {
      width: 530px;
    }
  }

  #email {
    padding-left: 50px;
    color: $mutedCream;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    @media (max-width: 340px) {
      font-size: 14px;
    }
    @media (min-width: 341px) and (max-width: 560px) {
      font-size: 18px;
    }

  }

  #emailinput {
    margin-bottom: 50px;
    @media (min-width: 560px) {
      margin-bottom: 100px;
    }
  }

  .top {
    margin-top: 0px;
  }

  #mail {
    margin-top: 35px;
    width: 86%;
    color: $cream;
    text-align: left;
    font-family: MoonDance;
    font-size: 24px;
    @media (max-width: 340px) {
      font-size: 14px;
    }
    @media (min-width: 341px) and (max-width: 560px) {
      font-size: 18px;
    }
    @media (min-width: 560px) {
      width: 530px;
    }
  }

  input[type=submit] {
    background: none;
    border-style: none;
    text-align: right;
    border-top: solid 1px $mutedCream;
    color: $cream;
    font-weight: 100;
    font-size: 15px;
    border-radius: 0;
    width: 100%;
    height: 60px;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
  }

}