@import 'components/colorScheme';
@import 'components/fonts';

#contact {

  .wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $cream;
  }

  ::-webkit-input-placeholder {
    color: $cream;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 14px;
    padding-right: 1em;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $cream;
    font-family: ubuntu;
    font-size: 14px;
    font-weight: lighter;
    padding-right: 1em;
  }

  ::-moz-placeholder {  /* Firefox 19 */
    color: $cream;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 14px;
    padding-right: 1em;
  }

  :-ms-input-placeholder { 
    color: $cream;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 14px;
    padding-right: 1em;
  }

  input[type=email] {
    width: 86%;
    display: inline-block;
    border: solid 1px $mutedCream;
    margin-top: 35px;
    margin-bottom: 0px;
    text-align:left; 
    font-size: 14px; 
    font-weight: lighter;
    color: $cream;
    background: none;
    padding: 8px 0px 8px 25px; 
    height: 36px;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 560px) {
      width: 530px;
    }
  }

  input[type=text] {
    text-align:left; 
    border: solid $mutedCream;
    font-size: 14px; 
    font-weight: 100;
    color: $cream;
    background: none;
    padding: 8px 0px 8px 25px; 
    width: 40%;
    height: 36px;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 560px) {
      width: 235px;
    }
  }

  input:focus, textarea:focus {
    border-color: rgba(128, 295, 219, 0.8) !important;
    box-shadow: 0 1px 1px rgba(128, 295, 219, 0.075) inset, 0 0 8px rgba(128, 295, 219, 0.6) !important;
    outline: 0 none !important;
  }  

  #message {
    width: 86%;
    height: 150px;
    display: inline-block;
    border: solid 1px $mutedCream;
    margin-top: 35px;
    margin-bottom: 100px;
    text-align:left; 
    font-size: 14px; 
    font-weight: lighter;
    color: $cream;
    background: none;
    padding: 8px 0px 8px 25px; 
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 560px) {
      width: 530px;
    }
  }

  .inner {
    width: 92%;
    margin-top: 35px;
    @media (min-width: 560px) {
      width: 555px;
    }
  }

  #fname {
    float: left;
    border-width: 1px;
  }

  #lname {
    float: right;
    border-width: 1px;
  }

  .email-us {
    width: 86%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    @media (min-width: 560px) {
      width: 530px;
    }
  }

  .email-type {
    text-align: left;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    @media (max-width: 340px) {
      font-size: 14px;
    }
    @media (min-width: 341px) and (max-width: 560px) {
      font-size: 18px;
    }
  }  

  #email {
    padding-left: 25px;
    color: $mutedCream;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    @media (max-width: 340px) {
      font-size: 14px;
    }
    @media (min-width: 341px) and (max-width: 560px) {
      font-size: 18px;
    }

  }

  .top {
    margin-top: 0px;
  }

  .tail {
    padding-bottom: 50px;
    @media (max-width: 560px) {
      padding-bottom: 25px;
    }
  }

  #send-message {
    padding-right: 45px;
    @media (max-width: 550px) {
      padding-right: 25px;
    }
  }

  input[type=submit] {
    background: none;
    border-style: none;
    text-align: right;
    border-top: solid 1px $mutedCream;
    color: $cream;
    font-weight: 100;
    font-size: 15px;
    border-radius: 0;
    width: 100%;
    height: 60px;
    cursor: pointer; 
    cursor: hand;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
  }

}