@import 'components/colorScheme';
@import 'components/fonts';

#faq {
  padding: .1em;

  background-color: transparent;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  text-align: center; 
  color: $faqText;
  position: relative;

  .wrap {
    width: 960px;
    padding-top: 0px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    @media (max-width: 1000px){
      width: 100%;
    }   
  }  

  .column {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-between;

    article {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      z-index: 10;
      width: 40%;
      font-family: ubuntu;
      font-weight: 100;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased;
      @media (min-width: 550px) {
        margin: 3vh 0;
      }

      @media (max-width: 550px) {
        width: 100%;
        align-items: center;
        -webkit-align-items: center;

        .a-hline {
          border-top: solid 1px $mutedOutline;
          background: none;
          width: 40%;
        }

      } 

    }  

    @media (max-width: 1000px) {
      width: 87%;
    }

    @media (max-width: 550px) {
      flex-direction: column;
      -webkit-flex-direction: column;
      width: 100%
    }    

  }

  a {
    color: $faqText;
    text-decoration: underline;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;

    &:visited {
      color: $faqText;
    }
  }
  
  .hline {
    border-top: solid 1px $mutedOutline;
    background: none;
    width: 70%;

    @media (max-width: 550px) {
      width: 40%;
    }
  }



  .hline-full {
    border-top: solid 1px $mutedOutline;
    background: none;
    position: absolute;
    left:0;
    width: 100%;
  }

  h3 {
    font-size: 100%;

    @media (min-width: 875px) {
      font-size: 130%;
    }

    @media (max-width: 550px) {
      padding: 20px;
      margin: 0 5%;
      background-color: transparent;

      span{
        padding: .4em;
        font-size: 115%;
        width: 80%
      }

    }
  }

  p {
    font-size: 100%;
    padding: 0em 1em 1em 1em;
    margin-top: 0px;
    display: none;
    z-index: 10;
    line-height: 220%;

    @media (min-width: 550px) {
      display: block;
      padding: 0;
    }
  }

  .tail {
    margin-bottom: 75px;
    @media (max-width: 550px) {
      margin-bottom: 25px;
    }
  }

  #last-span {
    padding-bottom: 0px;
   }

  .faq-top {
    margin-bottom: 0px;
    @media (max-width: 550px) {
      margin-bottom: 25px;
    }
  }

  #last-year {
    width: 325px;
    margin: 3vh 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;

    a {
      font-size: 120%;
    }

    a:hover {
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      opacity: .4;
    }

    @media (max-width: 550px) {
      flex-direction: column;
      -webkit-flex-direction: column;

      a {
        padding: 5px 0px;
      }
    }    
  }
}
