@import 'components/colorScheme';
@import 'components/fonts';

#faq {
  padding: .1em;

  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
  color: $faqText;
  position: relative;

  .wrap {
    width: 45%;
    @media (max-width: 550px){
      width: 100%;
      line-height: 250%; 
    }   
  }

  a {
    color: $faqText;
    text-decoration: underline;
    &:visited {
      color: $faqText;
    }
  }

  article {
    z-index: 10;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 550px) {
      margin-bottom: 3vh;
    }
  }

  h1 {
    width: 35%;
    min-width: 200px;
    font-size: 180%;
    font-family: MoonDance;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
  }

  h2 {
    font-size: 110%;

    @media (min-width: 550px) {
      font-size: 130%;
    }

    @media (max-width: 550px) {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0 5%;
      background-color: transparent;
      min-height: 50px;

      span{
        padding: .4em;
        width: 80%
      }

      i {
        width: 10%;
        display: flex;
        background-color: #a89483;
        padding: .4em .5em;

        &:before {
          margin: auto;
        }
      }
    }
  }

  i {
    //display: block;

    @media (min-width: 550px) {
      display: none;
    }
  }

  p {
    font-size: 100%;
    padding: 1em;
    display: none;
    z-index: 10;
    line-height: 220%;

    @media (min-width: 550px) {
      display: block;
      padding: 0;
    }
  }

  .full {
    text-align: center;
    font-size: 120%;
    padding-bottom: 1em;
    line-height: 100%;

    h2 {
      font-size: 275%;
      padding-bottom: .3em;
    }

    p {
      display: block;
    }

    @media (min-width: 550px) {
      font-size: 210%;
      line-height: 120%;
    }
  }

  .tail {
    width: 100%;
    text-align: center;
  }
}
