@import 'components/colorScheme';
@import 'components/fonts';

#hero {

  display: flex;
  height: 100vh;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
  overflow: hidden;
  text-align: center;
  letter-spacing: .05em;
  
  .wrap {
    margin-top: 100px;
  }

  .title-text {
    height: 30px;
  }

  #title-subtext {
    font-size: 140%;
  }

  h1, h2, p{
    margin: auto;
  }

  h1, h2{
    color: $heroAccent;
    font-family: MoonDance;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
  }

  h1 {
    width: 60%;
    min-width: 300px;
    font-size: 500%;
    letter-spacing: .15em;
  }

  h2 {
    width: 35%;
    min-width: 200px;
    font-size: 180%;
  }

  p {
    width: 20%;
    min-width: 140px;
    font-size: 110%;
    margin-top: .5em;
    margin-bottom: -1em;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    color: $cream;
  }

  #logo-wrap {
    display: flex;
    flex-direction: column;
    left:0;
    right: 0;
    height: 40%;
    text-align: center;
    display: block

  }

  .logo{
    min-width: 185px;
    width: 50%;

    @media (min-width: 600px) {
      margin-top: -5vh;
    }
  }

  a {
    color: $faqText;
    text-decoration: underline;
    &:visited {
      color: $faqText;
    }
  }

  #intro {
    width: 100%;
    line-height: 250%;
  }
}