#hero {

  display: flex;
  height: 100vh;
  border-collapse: collapse;
  border-spacing: 0;
  background: image-url("glitch.gif") no-repeat center 10px fixed;
  overflow: hidden;

 
  text-align: center;
  letter-spacing: .05em;

  #title-text {
    width: 60%;
  }

  h1, h2, p{
    margin: auto;
  }

  h1, h2{
    color: $heroAccent;
    font-family: MoonDance;
  }

  h1 {
    width: 60%;
    min-width: 300px;
    font-size: 500%;
    letter-spacing: .15em;
  }

  h2 {
    width: 35%;
    min-width: 200px;
    font-size: 180%;
  }

  p {
    width: 20%;
    min-width: 140px;
    font-size: 110%;
    margin-top: .5em;
    margin-bottom: -1em;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    color: $cream;
  }

  #logo-wrap {
    display: flex;
    flex-direction: column;
    left:0;
    right: 0;
    height: 40%;
    text-align: center;
    display: block

  }

  .logo{
    min-width: 185px;
    width: 50%;

    @media (min-width: 600px) {
      margin-top: -5vh;
    }
  }

  a {
    display: inline-block;
    color: $heroLink;
    padding: 0 .4em;
    text-transform: lowercase;
    font-size: 150%;
    text-decoration: none;
    border-bottom: 2px solid $heroLink;

    &:hover {
      color: $heroAccent;
    }

    &.anchorLink {
      display: block;
      font-size: 350%;
      margin-top: 1em;
      border: none;
    }
  }

  #intro {
    width: 70%;
    line-height: 250%;
  }
}