@import 'components/colorScheme';
@import 'components/fonts';

#hero {
  @media (max-width: 550px) {
    line-height: 0px;

    .section-head {
      margin: 25px 0px; 
    }
  }

  display: flex;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
  text-align: center;
  letter-spacing: .05em;
  
  .wrap {
    margin-top: 61px;
  }

  .title-text {
    height: 30px;
    width: 87%;
  }

  #title-subtext {
    font-size: 140%;
  }

  h2, p{
    margin: auto;
  }

  h2{
    color: $heroAccent;
    font-family: MoonDance;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    width: 35%;
    min-width: 200px;
    font-size: 180%;
  }

  p {
    width: 100%;
    min-width: 140px;
    font-size: 110%;
    margin-top: .5em;
    margin-bottom: 25px;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    color: $cream;
  }

  #logo-wrap {
    display: flex;
    flex-direction: column;
    left:0;
    right: 0;
    height: 40%;
    text-align: center;
    display: block

  }

  .logo{
    min-width: 185px;
    width: 50%;

    @media (min-width: 600px) {
      margin-top: -5vh;
    }
    @media (max-width: 550px) {
      width: 70%;
      margin-top: -25px;
    }
  }

  a {
    color: $faqText;
    text-decoration: underline;
    &:visited {
      color: $faqText;
    }
  }

  #intro {
    width: 100%;
    line-height: 250%;

    @media (max-width: 1024px) {
      width: 87%;
      line-height: 150%;
      margin-top: -25px;
    }
  }
}