@import 'components/colorScheme';
@import 'components/fonts';

#hero {
  @media (max-width: 550px) {
    .section-head {
      margin: 25px 0px; 
    }
  }

  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  border-collapse: collapse;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  border-spacing: 0;
  min-height: 100vh;
  background-color: transparent;
  text-align: center;
  letter-spacing: .05em;
  
  .wrap {
    margin-top: 61px;
  }

  .title-text {
    height: 30px;
    width: 87%;
  }

  #title-desc, #title-hashtag {
    font-size: 110%;
    color: $mutedText;
    margin: 10px 0px;
    @media (max-width: 550px) {
      font-size: 90%;
      margin: 5px 0px;
    }
  }

  #title-date {
    font-size: 140%;
    margin: 0px;
    @media (max-width: 550px) {
      font-size: 120%;
    }
   }

  p {
    width: 100%;
    margin: auto;
    min-width: 140px;
    font-size: 110%;
    margin-top: .5em;
    margin-bottom: 25px;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    color: $cream;
  }

  #logo-wrap {
    display: flex;
    flex-direction: column;
    left:0;
    right: 0;
    height: 40%;
    text-align: center;
    display: block;

    .title {
      margin-bottom: 10px;
    }

  }

  .logo{
    min-width: 185px;
    width: 50%;

    @media (min-width: 600px) {
      margin-top: -5vh;
    }
    @media (max-width: 550px) {
      width: 70%;
      margin-top: -25px;
    }
  }

  a {
    color: $faqText;
    text-decoration: underline;
    &:visited {
      color: $faqText;
    }
  }

  #intro {
    width: 100%;
    line-height: 250%;
    margin-top: -50px;
    
    @media (max-width: 1024px) {
      width: 87%;
      line-height: 150%;
      margin-top: -25px;
    }
  }

  .apply-wrapper {
    background: none;
    border-style: none;
    text-align: right;
    border-top: solid 1px $mutedOutline;
    border-bottom: solid 1px $mutedOutline;
    border-radius: 0;
    width: 100%;
    height: 60px;
    display: flex;
    display: -webkit-flex;
    clear: both;
  }

  .apply {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    color: $cream;
    font-family: ubuntu;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    padding-right: 45px;
    width: 100%;
    height: 60px;
    cursor: pointer; 
    cursor: hand;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    @media (max-width: 550px) {
      padding-right: 25px;
    }
    
    &:hover {
      color: $mainBackground;
      -webkit-transition-delay: .2s; /* Safari */
      transition-delay: .2s;
    }
  }
}