@import 'components/colorScheme';
@import 'components/fonts';

.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  z-index: 10;
}

.wrap-main {
  background: image-url("glitch.gif") no-repeat center 10px fixed;
}


body {
  background: $mainBackground;
  margin: 0 auto;
}

.mirrorX {
  transform: scaleX(-1);
  filter: FlipH;
}

.mirrorY {
  transform: scaleY(-1);
  filter: FlipV;
}

a {
  text-decoration: none;
}
