@import 'components/colorScheme';
@import 'components/fonts';

.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  z-index: 10;
}

.wrap-main {
  background: image-url("glitch.gif") no-repeat center 10px fixed;
  background-size: cover;
  @media (max-width: 550px) {
    background:none;
  }
}

.section-head {
  margin: 100px 0px 50px 0px;
  padding: 0px;
  width: 100%;
  min-width: 200px;
  font-size: 220%;
  font-family: MoonDance;
  font-weight: 100;
  text-align: center;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  @media (max-width: 560px) {
    margin: 50px 0px 25px 0px;
    font-size: 180%;
  }
}


body {
  background: $mainBackground;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

input:required {
    box-shadow:none;
}
input:invalid {
    box-shadow:0 0 0px red;
}
