@import 'components/colorScheme';
@import 'components/fonts';

#mailing {

  mc-embedded-subscribe-form {
    width: 100%;
  }

  ::-webkit-input-placeholder {
    color: $cream;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 20px;
    padding-right: 1em;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $cream;
    font-family: ubuntu;
    font-size: 20px;
    font-weight: lighter;
    padding-right: 1em;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $cream;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 20px;
    padding-right: 1em;
  }

  :-ms-input-placeholder { 
    color: $cream;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 20px;
    padding-right: 1em;
  }

  input[type=email] {
    display: inline-block;
    border: solid 1px $mutedCream;
    text-align:left; 
    font-size: 20px; 
    font-weight: lighter;
    color: $cream;
    background: none;
    padding: 8px 0; 
    width: 50%; 
    min-width: 130px;
    height: 36px;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
  }

  input[type=submit] {
    display: inline-block;
    background: none;
    border-style: none;
    text-align: right;
    border-top: solid 1px $mutedCream;
    color: $cream;
    font-weight: 100;
    font-size: 15px;
    border-radius: 0;
    width: 100%;
    height: 60px;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
  }

}