@import 'components/colorScheme';
@import 'components/fonts';

.headroom {
  z-index: 999;
  background: $mainBackground;
  border-bottom: solid 1px $mutedCream;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  transition: all .2s ease-in-out;
 
  .navbar-nav {
    background: $mainBackground;
    margin: 0px;
    font-family: ubuntu;
    font-weight: 100;
    border-radius: 0;

    a {
      color: $cream;
      font-size: 15px;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased;
    }

  }

  .right{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    #sponsor-wrapper {
      float: right;
      clear:right;
    }
  }

  .left {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-content: left;
    justify-content: left;
  }

  .svg-wrapper {
    transform: translateY(-50%);
    margin: 0 0;
    height: 60px;
    position: relative;
    top: 30px; 
  }

  .shape {
    stroke-dasharray: 50 520;
    stroke-dashoffset: -155;
    stroke-width: 0px;
    fill: transparent;
    stroke: $cream;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }

  .contact {
    stroke-dashoffset: -218;
  }

  .home {
    stroke-dashoffset: -165;
  }

  .active {
    stroke-width: 5px;
    
    .shape {
      stroke-width: 2px;
      stroke-dashoffset: 0;
      stroke-dasharray: 560;
    }
  }

  .text {
    font-family: ubuntu;
    font-weight: 100;
    color: $cream;
    font-size: 22px;
    width: 60px;
    margin-top: -50px;
    margin-left: 25px;
  }
  .svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 560;
  }


}

