@import 'components/colorScheme';
@import 'components/fonts';   

#sponsors {
  //background: #AEDCC9;
  background: $belizeHole;
  position: relative;
  padding: 10vh .5em;
  overflow: hidden;

  & > section {
    margin-bottom: 3em;
  }

  h1 {
    text-align: center;
    font-size: 350%;
    font-family: PhantLight;
    text-transform: lowercase;
    padding: 0;
    margin-bottom: 1em;
    //color: $sponsorText;
    color: #433830;
    text-decoration: underline;
    font-weight: bold;

    @media (min-width: 550px){
      font-size: 500%;
    }
  }

  article {
    position: relative;
  }

  .media-grid {
    align-items: flex-end;
    justify-content: center;
  }
}

.ship {
  width: 100%;
  margin-top: -23%;
}

.sponsor-logo {
  display: block;
  width: 65%;
  margin: auto;
}

.waves {
  position: absolute;
  left: 0;
  bottom: 5%;
  width: 100%;
}

.gold {

  .waves {
    position: absolute;
    left: 0;
    bottom: 7%;
    width: 100%;
  }
}

.sub {

  .ship {
    width: 74%;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: .55em;
  }

  .waves {
    width: 74%;
    margin-left: 13%;
    margin-right: 13%;
  }

  .sponsor-logo {
    width: 45%;
    margin-bottom: 1.25em;
  }

  
}

.bronze {

  .ship {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: .5em;
  }

  .waves {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .sponsor-logo {
    width: 55%;
    margin-bottom: .5em;
  }

  
}


