@import 'partials/colorScheme';
@import 'partials/fonts';

body {
  top:0px;
  margin-top: 0px;
  padding-top: 0px;
}

.wrap-dash {
  margin-top: 0px;
  padding-top: 0px;
  background-color: transparent;
  min-height: calc(100vh - 59px);

  p {
    font-family: ubuntu;
    font-weight: 100;
    font-size: 15px;
    color: $cream;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
  }

  a {
    text-decoration: underline;
    font-family: ubuntu;
    font-weight: 100;
    font-size: 15px;
    -webkit-appearance: none;
    color: $mutedText;
    -webkit-font-smoothing: antialiased;

    &:visited {
      color: $mutedText;
    }
    
    &:hover {
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      opacity: .7;
    }
  }


  #bus-1 {
    margin-top: 15px;
    margin-bottom: 0px;
  }

  #bus-2 {
    margin-top: 5px;
    margin-bottom: 0px;
  }

  #bus-3 {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  s {
    color: $mutedText;
  }

  @media screen and (min-width: 360px){
   .rwd-break { display: none; }
  }

  @media screen and (min-width: 457px){
   .rwd-break-wait { display: none; }
  }

  #travel-policy {
    margin-bottom: 0px;
  }

  #canvas {
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
  } 

  .section-head {
      margin-top: 0px;
      margin-bottom: 10px;
      color: $mutedText;
      text-align: left;
      font-size: 150%;
      @media (max-width: 550px) {
        font-size: 130%;
      }
  }

  .title-wrap {
    .hline {
      border-top: solid 1px $mutedOutline;
      background: none;
      width: 100%;
    }
  }

  .travel {
    margin-bottom: 50px;

    #cap-table {
      margin-left: -3px;
      width: 215px;
    }

    .right-align {
      text-align: right;
      font-family: ubuntu;
      font-weight: 100;
      font-size: 15px;
      color: $cream;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased;

    }

    .cap {
      padding-left: 10px;
      color: $mutedText;
      font-family: ubuntu;
      font-size: 15px;
    }

  }

  .minor {
    margin-bottom: 25px;

    ul {
        list-style: none;
        padding: 5px 0px 0px 10px;
        margin:0;
    }

    li {
      color: $mutedText;
      padding-left: 1em; 
      text-indent: -.7em;
    }

    li:before {
        content: "•  ";
        color: $cream;
    }

  }


  .travel, .minor {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
        
    .row {
      width: 87%;
      @media (min-width: 1000px) {
        width: 900px;
      }
    }

  }

  #user-status {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    color: $cream;
    top: 50px;
    font-family: ubuntu; 

    .row {
      width: 87%;
      margin-top: 100px;
      padding: 0px 15px;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: row;
      -webkit-flex-direction: row;    
      @media (min-width: 550px) {
        width: 530px;
        margin-top: 100px;
      }
    }

    .inner-wrap {
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: row;
      -webkit-flex-direction: row;
      width: 100%;
    }

    .box {
      height: 75px;
      margin: 0px 0px 50px 0px;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      text-align: center;
      -webkit-justify-content: center;
      border: solid 1px $mutedOutline;
      font-weight: 100;
      font-weight: lighter;
      -webkit-font-smoothing: antialiased;
      font-size: 22px;
      width: 60%;
      @media (min-width: 550px) {
        width: 330px;
      }

    }

    .box:hover {
      cursor: pointer;
      cursor: hand;
    }

    #status-text {
      height: 75px;
      margin: 0px 0px 50px 0px;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      font-weight: 100;
      font-weight: lighter;
      -webkit-font-smoothing: antialiased;
      font-size: 22px;
      border-top: solid 1px $mutedOutline;
      border-left: solid 1px $mutedOutline;
      border-bottom: solid 1px $mutedOutline;
      background-color: #162934;
      width: 40%;
      z-index: -2;
      @media (min-width: 550px) {
        width: 200px;
      }
    }



  }

  .topic-selection{
    @media (max-width: 550px) {
        margin-top: 30px;
    }

    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    color: $cream;
    font-family: ubuntu; 
    margin-bottom: 50px;

    .row {
      width: 87%;
      padding: 0px 15px;
      @media (min-width: 1000px) {
        width: 900px;
      }
    }

    .dash-link {
      background: none;
      text-align: left;
      border: solid 1px $mutedOutline;
      color: $cream;
      font-weight: 100;
      font-size: 15px;
      border-radius: 0;
      height: 60px;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      padding-left: 15px;

    } 

    #dash-wrap {
      @media (min-width: 1000px) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        justify-content: space-between;
        -webkit-justify-content: space-between;
      }
    }
    
  }

  .link-wrap {
    width: 100%;
    margin-top: 15px;
    @media (min-width: 1000px) {
      width: 442.5px;
    }
    
    a {
      text-decoration: none;
      font-family: ubuntu;
      font-weight: 100;
      font-size: 18px;
      -webkit-appearance: none;
      color: $cream;
      -webkit-font-smoothing: antialiased;
    }
  }

}

#name {
  font-family: MoonDance; 
  font-weight: 100;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-size: 140%;
  height: 60px;
  color: $cream;
  padding-left: 20px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
