@import 'partials/colorScheme';
@import 'partials/fonts';

#rsvp{
  background-color: transparent;
  @media (max-width: 550px) {
    margin-top: 30px;
  }

  #send_rsvp {
    margin-bottom: 100px;
  }

  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  color: $cream;
  height: 100%;  

  font-family: ubuntu;


  a {
    color: $mutedText;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
  }

  a:hover {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: .7;
  }

  .row {
    width: 87%;
    margin-top: 50px;
    @media (min-width: 550px) {
      width: 530px;
    }
  }

  .add-margin-top {
    margin-top: 0px;
    @media (min-width: 550px) {
      margin-top: 25px;
    } 
  }

  .add-margin-bottom {
    margin-bottom: 15px;
    @media (min-width: 550px) {
      margin-bottom: 25px;
    } 
  }  
  
  ::-webkit-input-placeholder {
    color: $cream;
    opacity: 1;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 15px;
    padding-right: 1em;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $cream;
    opacity: 1;
    font-family: ubuntu;
    font-size: 15px;
    font-weight: lighter;
    padding-right: 1em;
  }

  ::-moz-placeholder {  /* Firefox 19 */
    color: $cream;
    opacity: 1;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 15px;
    padding-right: 1em;
  }

  :-ms-input-placeholder { 
    color: $cream;
    opacity: 1;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 15px;
    padding-right: 1em;
  }

  .inner {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    @media (max-width: 550px) {
      flex-direction: column;
      -webkit-flex-direction: column;
    }
  }

  input[type=text]{
    height: 36px;
    text-align:left; 
    border: solid 1px $mutedOutline; 
    font-size: 15px; 
    font-weight: 100;
    color: $cream;
    background: none;
    padding: 8px 0px 8px 25px; 
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0px;
    @media (max-width: 550px) {
      width:100%; 
      height: 54px;
      box-sizing: border-box;         /* For IE and modern versions of Chrome */
      -moz-box-sizing: border-box;    /* For Firefox                          */
      -webkit-box-sizing: border-box; /* For Safari                           */
      margin-bottom: 15px;
    }
  }

  textarea {
    width: 530px;
    height:150px;
    resize: none;
    border: solid 1px $mutedOutline;
    margin-bottom: 0px;
    text-align:left; 
    font-family: ubuntu;
    font-size: 15px; 
    font-weight: 100;
    color: $cream;
    background: none;
    padding: 18px 0px 8px 25px; 
    -webkit-font-smoothing: antialiased;
    @media (max-width: 550px) {
      width:100%; 
      box-sizing: border-box;         /* For IE and modern versions of Chrome */
      -moz-box-sizing: border-box;    /* For Firefox                          */
      -webkit-box-sizing: border-box; /* For Safari                           */
    }
  }

  input[type=radio]{
    /* Hide original inputs */
    visibility: hidden;
    position: absolute;
  }
  input[type=radio] + label:before{
    height:12px;
    width:12px;
    margin-right: 7px;
    content: " ";
    display:inline-block;
    vertical-align: baseline;
    border:1px solid $mutedCream;
    border-radius:50%;
  }

  input[type=radio]:checked + label:before{
    background: $mutedText;
  }

  span {
    @media (max-width: 550px) {
      margin-bottom: 7.5px;
    }     
  }

  input[type=text]:focus, textarea:focus, option:focus, select:focus, span:focus, span input:focus {
    border-color: rgba(128, 295, 219, 1) !important;
    box-shadow: 0 1px 1px rgba(128, 295, 219, 0.075) inset, 0 0 8px rgba(128, 295, 219, 0.6) !important;
    outline: 0 none !important;
  }

  #attending {
    margin-bottom: 10px;
    text-align: center;
  }

  #attending-wrap {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    border: solid 1px $mutedOutline;
    font-weight: 100;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    height: 60px;
  }

  #attending-wrap {
    align-items: center;
    -webkit-align-items: center;
    @media (max-width: 550px) {
      height: 75px;
    }
  }

  #travel-wrap {
    margin-top: 15px;
    @media (min-width: 550px) {
      margin-top: 25px;
    } 
  }

  #radio-wrap {
    width: 300px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items:center;
  }  

  #university {
    width: 100%;
    @media (min-width: 550px) {
      width: 530px;
    } 
  }

  #restrictions, #tshirt{
    width: 100%;
    @media (min-width: 550px) {
      width: 530px;
    } 
  }  

  #otherRestrictions {
    width:100%;
    @media (min-width: 550px) {
      width: 503px;
      margin-bottom: 0px;
    } 
  }  

  #upload-resume-wrap, #upload-form-wrap {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items:center;
  }

  #restriction-question-wrap {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    border-style: none;
    border: solid 1px $mutedOutline;
    border-radius: 0;
    height: 54px;
    width: 100%;
    @media (max-width: 550px){
      margin-bottom: 15px;
    }
  }

  #restriction-question-text {
    margin-left: 15px;
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    color: $cream;
    font-family: ubuntu;
    font-weight: 100;
    font-size: 15px;
    
    a {
      font-size: 15px;
    }
  }  

  .university, #gradeLevel-wrap { 
    margin-bottom: 0px;
    @media (min-width: 550px) {
      margin-bottom: 25px;
    } 
  }

  .under-textarea {
    margin-top: 15px;
    @media (min-width: 550px) {
      margin-top: 21px;
    }
  }

  input[type=submit] {
    background: none;
    border-style: none;
    text-align: center;
    border: solid 1px $mutedOutline;
    color: $cream;
    font-weight: 200;
    font-size: 15px;
    border-radius: 0;
    height: 60px;
    width: 100%;
    cursor: pointer; 
    cursor: hand;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 550px) {
      width: 530px;
      padding-right: 25px;
    }
  }  

  input[type=submit]:hover {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 0px;
    -webkit-box-shadow:0 0 8px $cream; 
    -moz-box-shadow: 0 0 8px $cream; 
    box-shadow:0 0 8px $cream;
  }

  input[type=submit]:focus {
    border: solid 1px $mutedOutline;  }

  #error-wrapper {
    width: 98%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    font-family: ubuntu;
    font-weight: 100;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 550px){
      width: 530px;
    }

  }

  .error {
    margin-bottom: 15px;
  }

  .no-label {
    display: none;
  }

  .thumbnail {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    position: relative;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    border: solid 1px $mutedOutline; 
    margin-right: 0px !important;
    @media (min-width: 550px) {
      width: 530px;
      height: 190px;
    }
      
  }

  #resume_prev, #form_prev {
    width: 300px;
    max-height: 180px;
  }
    
  .form-group-file {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      @media (min-width: 550px) {
        width: 530px;
        height: 192px;
      }
  }

  .form-group-file input {
    width: 100% !important;;
    height: 192px;
    @media (min-width: 550px) {
      width: 530px !important;
    }
    opacity: 0 !important;
    cursor: pointer;
  }  

  #form-text-wrap {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    border-style: none;
    border: solid 1px $mutedOutline;
    border-radius: 0;
    height: 150px;
    width: 100%;
    @media (max-width: 550px){
      margin-bottom: 15px;
      height: 190px;
    }
  }

  #form-text{
    -webkit-font-smoothing: antialiased;
    margin-left: 15px;
    word-wrap: normal;
    color: $cream;
    font-family: ubuntu;
    font-weight: 100;
    font-size: 15px;
    
    a {
      font-size: 15px;
    }
  }

  #save-rsvp {
    margin-bottom: 100px;
    @media (max-width: 910px) {
      margin-bottom: 0px;
    }
  }

  #rsvp-submit {
    margin-bottom: 0px;
  }

  #question-progress-wrap {
    width: 170px;
    margin-top: 15px;
    word-wrap: normal;
    color: $cream;
    font-family: ubuntu;
    font-weight: 100;
    font-size: 15px;
    @media (min-width: 910px) {
      position: fixed;
      top: 150px;
      right: 0px;
    }
  }

  .question {
    margin: 3px 0px;
  }

  .full {
    margin-top: 0px;
  }

}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  color: #000000;
  position: absolute;
  top: 17px;
  right: 5px;
  width: 20px;
}

.select2-search__field {
  border-style: none;
  color: $cream;
}

.fa-angle-down {
  color: $cream;
}

input[type=search] {
  background-color: transparent !important;
  font-weight: 100 !important;
}

#popup-wrapper {
  position: fixed;
  display: none;
  z-index: 9;
  background-color: rgba(3, 3, 22, .9);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 60px;
  margin: auto;

  animation:popup-wrapper 1s 1;
  -webkit-animation:popup-wrapper 1s 1;
  animation-fill-mode: forwards;

  animation-delay:5s;
  -webkit-animation-delay:5s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
  @media (max-width: 550px) {
    width: 87%;

  }

}

#popup {
  position: fixed;
  z-index: 9;
  background-color: $mainBackground;
  border: 1px solid $mutedOutline;
  border-radius: 1px;
  overflow-y: hidden;
  color: $cream;
  font-family: ubuntu;
  font-size: 18px;
  font-weight: 100;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  padding: 28px 0px;
  width: 528px;
  left: 0;
  right: 0;
  margin: auto;
  @media (max-width: 550px) {
    width: 87%;

  }

}

#popup-error-wrapper {
  position: fixed;
  z-index: 9;
  background-color: rgba(3, 3, 22, .9);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 60px;
  margin: auto;

  animation:popup-error-wrapper 1s 1;
  -webkit-animation:popup-error-wrapper 1s 1;
  animation-fill-mode: forwards;

  animation-delay:5s;
  -webkit-animation-delay:5s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
  @media (max-width: 550px) {
    width: 87%;

  }

}

#popup-error {
  position: fixed;
  z-index: 9;
  background-color: $mainBackground;
  border: 1px solid $mutedOutline;
  border-radius: 1px;
  overflow-y: hidden;
  color: $cream;
  font-family: ubuntu;
  font-size: 18px;
  font-weight: 100;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  padding: 28px 0px;
  width: 528px;
  left: 0;
  right: 0;
  top: 60px;
  margin: auto;

  @media (max-width: 550px) {
    width: 87%;

  }
  #sub-text {
    margin-top: 3px;
    font-size: 14px;
  }
}

@keyframes popup-error-wrapper{
    from {opacity :1;}
    to {opacity :0; visibility: hidden;}
}

@-webkit-keyframes popup-error-wrapper{
    from {opacity :1;}
    to {opacity :0; visibility: hidden;}
}

@keyframes popup-wrapper{
    from {opacity :1;}
    to {opacity :0; visibility: hidden;}
}

@-webkit-keyframes popup-wrapper{
    from {opacity :1;}
    to {opacity :0; visibility: hidden;}
}
