@import 'partials/colorScheme';
@import 'partials/fonts';

body {
  top:0px;
  margin-top: 0px;
  padding-top: 0px;
}

.wrap-code {
  margin-top: 0px;
  padding-top: 0px;
  position: relative;
  min-height: 100vh;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: flex-start;

  .title-wrap {
    margin: 100px 0px 25px 0px;
    width: 350px;
    @media (max-width: 550px) {
      width: 320px;
    }

    .hline {
      border-top: solid 1px $mutedOutline;
      background: none;
      width: 100%;
    }
    
    .section-head {
        margin-top: 0px;
        margin-bottom: 10px;
        color: $mutedText;
        text-align: left;
        font-size: 150%;
        @media (max-width: 550px) {
          font-size: 130%;
        }
    }
  }

  .footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }

  #canvas {
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
  } 

  #user-code {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    color: $cream;
    top: 50px;
    font-family: ubuntu; 
    @media (min-width: 550px) {
      width: 530px;
    }

    #barcode {
      max-height: 100px;
    }

    .row {
      width: 87%;
      margin-top: 100px;
      padding: 0px 15px;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: row;
      -webkit-flex-direction: row;    
      @media (min-width: 550px) {
        width: 530px;
      }
    }

    .inner-wrap {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;
      background-color: white;
      width: 350px;
      height: 140px;
      @media (max-width: 350px) {
        width: 320px;
      }
    }

  }

}
#name {
  font-family: MoonDance; 
  font-weight: 100;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-size: 140%;
  height: 60px;
  color: $cream;
  padding-left: 20px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
